[2019-08-12 21:38] kamthamc opened #1 "Question: Why do we need express?"
I was exploring the repo and found expressJS. Why do we need expressjs when we can use `npm run start` which uses `react-scripts` to run ? Any specific use case?

cc @tuxology

[2019-08-12 21:41] kamthamc opened #2 "CI/CD integration using Travis"
Is it possible to use travis-ci to build, version and deploy to heroku? It would be much easier to see config and builds.

cc @tuxology

[2019-08-12 21:46] kamthamc opened #3 "Dockerize app for local build and run"
Is it possible to create a docker config to run the application locally along with elastic search, caching service etc?

cc @tuxology

[2019-08-12 22:25] tuxology commented on #2
@kamthamc I think the final place to host this would be Toolforge (https://tools.wmflabs.org/). We can probably still use Travis to host it there. We will explore this after the first development phase completes.

[2019-08-13 18:41] rammanoj commented on #2
Thanks for reporting @kamthamc. Written few tests in python today. will try to complete the all the tests and add the travis CI soon.

[2019-08-13 18:44] rammanoj commented on #1
We need express to host the reactjs app in production. I guess `react-scripts` only work locally. But In production I guess there is a need to use `express` server. As you can see the file [server.js](https://github.com/rammanoj/Contraband/blob/master/frontend/Contraband-Frontend/server.js). It is used for hosting the app in production.

[2019-08-13 18:52] kamthamc commented on #1
in prod we don't need express. its just static html, js & css files, can be served through cdn (for eg https://devcenter.heroku.com/articles/fastly)

[2019-08-13 19:10] rammanoj commented on #1
Yeah! thanks for the link. I followed a [medium blog](https://medium.com/@maison.moa/setting-up-an-express-backend-server-for-create-react-app-bc7620b20a61), which done the task using express. I will update the repo soon with new requirements.

[2019-08-14 00:18] kamthamc opened #4 "Unable to install packages in backend"
Hi,
I am trying to install the backend and getting an error. Can you please help me?
[code]

[2019-08-14 15:06] rammanoj commented on #4
@kamthamc I provided the installation file to the [backend](https://github.com/rammanoj/Contraband/blob/master/backend/Contraband/Install.md). I tested it in an instance, mostly it worked fine. You can try it out. let me know if you can host it locally.

Thanks!

[2019-08-22 09:22] srish opened #13 "Bulk upload is not working"
I tried to use the bulk upload feature to visualize contributions and it gave me the error as shown in the screenshot:
<img width="1132" alt="Screen Shot 2019-08-22 at 9 35 12 AM" src="https://user-images.githubusercontent.com/288353/63502365-b9705f80-c4cd-11e9-8ef6-b5e6764a6f1a.png">

CSV file format that I followed:

Srishti Sethi,srishakatux,srishakatux

I'm wondering if there is a specific for

[2019-08-24 07:28] #13 closed

[2019-08-24 07:29] rammanoj opened #16 "Update csv file in bulk upload not working."
**Description:**
Trying to update query but not updating the csv file, causing the error.

**How to reproduce**
1. Initially, create a query with a csv file.
2. Click the update button in results page.
3. Don't update the csv file and click search

The below error is being displayed:
![image](https://user-images.githubusercontent.com/21082378/63634074-0f303d80-c66f-11e9-86fd-ba198b6420d7.png)

[2019-08-24 07:31] #4 closed

[2019-08-24 13:51] #16 closed

[2019-08-26 21:12] srish opened #21 "Incorrect mapping of contributions to green square boxes"
If you click on a green square box in the "TOTAL CONTRIBUTIONS" section, you get "user has no activity on this day" message. But, if you click on the box that corresponds to the following date, it works (see screenshot below).

<img width="1043" alt="Screen Shot 2019-08-26 at 2 02 09 PM" src="https://user-images.githubusercontent.com/288353/63723451-5999f180-c80a-11e9-8a9b-8023ceb637ac.png">

[2019-08-26 21:15] srish opened #22 "Search box is not useful for a single user"
"Search Users in Query box" is not useful if you are viewing contributions for a single user only, it is somewhat confusing. It might be ideal if it is shown only in the case when one chooses to use the bulk upload via CSV feature.

[2019-08-26 21:22] srish opened #23 "Check if the input fields are valid or linked to the same person"
I'm not sure if this is feasible, but ideally, we check if the full name, Gerrit and Phabricator username entered by a user are valid and if or not they are linked to the same person. If not, then we don't proceed.

[2019-08-26 21:27] srish opened #24 "Host the tool at https://tools.wmflabs.org/wikicontrib/"
Currently, there is no way to rename the tool in Wikimedia Toolforge. This might sound painful, but to host the tool here: https://tools.wmflabs.org/wikicontrib/, the entire process followed to here https://tools.wmflabs.org/contrabandapp/ would need to be repeated.

[2019-08-29 03:34] rammanoj commented on #1
removed server.js file

Thanks for the question. Learnt few new things on researching about it.

[2019-08-29 03:34] #1 closed

[2019-08-29 23:47] tuxology opened #25 "Each child in list should have unique key prop (console error)"
I found some errors and warnings in console

![image](https://user-images.githubusercontent.com/3373857/63983674-805f5e80-ca7c-11e9-932f-1a36108f2c56.png)

[2019-09-01 12:03] rammanoj commented on #24
Thanks @srish, the app is now hosted at https://tools.wmflabs.org/wikicontrib/. I will make a commit with an markdown file (describing how to host the app on toolforge) soon.

[2019-09-01 12:05] rammanoj commented on #25
Yeah!
There are a lot of warnings even!!

Need to fix them soon.

[2019-09-04 04:42] #24 closed

[2019-09-05 04:11] mooeypoo opened #27 "Years in date range are a bit confusing (the order is backwards?)"
This is an awesome tool, thank you for working on this!

I think I found a weird bug (unless I'm missing something?) with how the dates and ranges are displayed.

I looked for my contributions, and I got this:
![datebug](https://user-images.githubusercontent.com/261238/64311153-dab65e80-cf57-11e9-942f-fbd0f2f0e12b.png)

The date boxes at the bottom with the contributions also seem to go left-to-ri

[2019-09-05 06:18] Jain-Aditya opened #28 "Y-axis should have integer values only"
The tool looks really great! I have a small suggestion. On the activity page, the y-axis values on the graphs should be integer only because showing the fractional values does not make sense over here. Perhaps, you can use something like:
https://github.com/WikipediaLibrary/hashtags/blob/master/hashtagsv2/hashtags/static/js/graph.js#L33

There might also be other ways of doing this :)

[2019-09-05 06:26] Jain-Aditya opened #29 "Hide Gerrit statistics when not needed"
One enhancement worth having could be to not display/hide the Gerrit statistics graph when Gerrit username is not specified in the query. Same could be done for phabricator stats.

[2019-09-05 06:59] Jain-Aditya opened #30 "Minor spelling errors on docs page"
![image](https://user-images.githubusercontent.com/34097318/64318845-ab940180-cfd8-11e9-8568-a06bc12cf82e.png)

[2019-09-05 16:17] tuxology opened #31 "Ensure all fonts' requests go from Fonts CDN and not to Google"
Ref: https://phabricator.wikimedia.org/T231312#5468477

[2019-09-09 03:06] rammanoj commented on #30
Thanks @Jain-Aditya for reporting the issue :)

[2019-09-09 04:34] rammanoj commented on #21
Thanks @srish for reporting the issue. This was already faced in development. I forgot to send a patch to it, I am sorry for that, will fix it soon.

[2019-09-09 05:28] #30 closed

[2019-09-09 05:31] rammanoj commented on #31
Thanks @tuxology for reporting the issue.

[2019-09-11 17:52] #31 closed

[2019-09-14 07:39] srish opened #33 "Compilation fails due to "module not found" error"
While setting up the `frontend` dev environment, here is the error I ran into:

<img width="943" alt="Screen Shot 2019-09-14 at 12 21 07 AM" src="https://user-images.githubusercontent.com/288353/64904903-b825f300-d685-11e9-8afb-2a1ceb610d80.png">

I think this is happening because the app is loading the modules for the condition when the `production` variable is `true`, even though the production

[2019-09-14 07:44] srish commented on #33
@rammanoj @tuxology for one of you to review! :)

[2019-09-20 14:22] #33 closed

[2019-09-20 14:28] rammanoj opened #35 "Remove production variable"
In the current project an external variable named production is used to distinguish between production and development environments. It has to be set manually. But there is a environment variable named ```process.env.NODE_ENV``` which can be used to distinguish between development and production. So replace ```production``` variable with ```process.env.NODE_ENV```. Refer #33  for more information

[2019-09-20 14:28] rammanoj commented on #33
I guess there is no need of ```production``` variable anymore. It can be replaced by ```process.env.NODE_ENV```. I opened #35

[2019-09-21 05:25] srish opened #36 "Document the use of env variables in the installation guide"
The process to set up environment variables might be a nice addition to the `backend` installation guide. One might get stuck on the migration step if they don't know where and how to set them.

[2019-09-21 05:37] #36 closed

[2019-09-27 05:32] #35 closed

[2019-09-27 06:50] srish opened #40 "Gerrit contributions are not plotted on the "Total Contributions" graph when Phabricator username is not provided"
If I provide my full name and Gerrit username and leave the Phabricator field empty, my gerrit contributions are not shown in the "Total Contributions" graph, but the Gerrit graph says that there are two contributions. Maybe the problem here is different.

I wonder how the calculations are being calculated. If I look at my Gerrit commits from September 2018, there is only one merged commit made vi

[2019-09-27 06:58] srish opened #41 "Unable to select the first option in the date filter dropdown"
Dropdown filter is working fine for all dates but not "September 2019". It is the first one in the list, and I am not able to select it.

<img width="391" alt="Screen Shot 2019-09-26 at 11 54 26 PM" src="https://user-images.githubusercontent.com/288353/65748701-646dcd80-e0b9-11e9-82c2-9f33c2837b3a.png">

[2019-09-27 07:05] srish commented on #41
Same for the "Time Range" filter as well. I'm not able to select the first option in it.

[2019-09-27 07:12] srish opened #42 "Fix incorrect installation guide links in README"
Some links like
https://github.com/rammanoj/WikiContrib/blob/master/backend/Contraband/Install.md needs to be changed as this repo is under `Wikimedia` account now :)

[2019-09-27 10:38] gagandeepp commented on #42
@srish  Can you please assign this to me?
And add a label workinprogress to this issue?

[2019-09-27 18:31] srish commented on #42
Thanks @gagandeepp for your interest :) Assigning this task to you now..

[2019-09-29 16:07] rammanoj commented on #42
@srish and @gagandeepp I guess the frontend link also need to be updated!

[2019-10-03 21:19] srish commented on #42
Addressed here https://github.com/wikimedia/WikiContrib/pull/44. Thank you @gagandeepp :)

[2019-10-03 21:19] #42 closed

[2019-10-03 21:20] srish commented on #27
Addressed here https://github.com/wikimedia/WikiContrib/pull/39. Closing this issue :) Thank you @mooeypoo for reporting it <3

[2019-10-03 21:20] #27 closed

[2019-10-04 05:05] Jain-Aditya commented on #28
I think, the issue has already been fixed by adding the configuration option `stepSize`
https://github.com/wikimedia/WikiContrib/blob/8e9f74747751c7a098b94ae9b0c0407c1a0d5b58/frontend/WikiContrib-Frontend/src/result.js#L59

[2019-10-04 05:05] #28 closed

[2019-10-04 05:23] Jain-Aditya opened #45 "Y-axis should not display negative labels"
Y-axis labels on the graphs should be non-negative integers only. The issue can be reproduced by simply not entering the Gerrit user name and making a search.
![Screen Shot 2019-10-04 at 10 47 44 AM](https://user-images.githubusercontent.com/34097318/66182939-83a9c380-e694-11e9-8cfa-693575eaa903.png)
Potential solution for this could be to set `beginAtZero` to true in chart options. You can see th

[2019-10-04 05:44] Jain-Aditya commented on #23
@srish I think this is a major issue and an important one. I think this could be addressed by checking if the Full name returned by the Gerrit and Phabricator API called for their respective usernames is same as entered by the User in the search form. If it is not so we could display an error message.

[2019-10-04 06:02] Jain-Aditya opened #46 "Graph labels overlap when contributions are high"
Not able to see contributions clearly, when the values are large. This is probably happening because we are setting `stepSize:1` in the chart options and that's why the chart is explicitly showing all Y-axis values starting from 1.

https://github.com/wikimedia/WikiContrib/blob/master/frontend/WikiContrib-Frontend/src/result.js#L59

![Screen Shot 2019-10-04 at 11 15 09 AM](https://user-images.gith

[2019-10-04 06:06] Jain-Aditya commented on #46
You can simply use these Y-axis chart options only and it would be good to go:
https://github.com/WikipediaLibrary/hashtags/blob/master/hashtagsv2/hashtags/static/js/graph.js#L30

[2019-10-04 07:10] srish commented on #28
Thank you @Jain-Aditya for filing this issue :)

[2019-10-04 07:11] srish commented on #46
Thanks @Jain-Aditya for filing the issue :)

[2019-10-04 07:14] srish commented on #45
Also related to https://github.com/wikimedia/WikiContrib/issues/29.

[2019-10-05 16:27] srish commented on #46
With recent changes, we've some improvements to graph formatting now. Thank you @Jain-Aditya :)

AFTER:
<img width="999" alt="Screen Shot 2019-10-05 at 9 19 44 AM" src="https://user-images.githubusercontent.com/288353/66257759-df865200-e751-11e9-80c2-c2431609b10c.png">
BEFORE:
<img width="976" alt="Screen Shot 2019-10-05 at 9 19 50 AM" src="https://user-images.githubusercontent.com/288353/66257760

[2019-10-05 16:27] #46 closed

[2019-10-05 16:28] #45 closed

[2019-10-05 16:39] srish opened #49 "Full Name field left blank on the main page results in server loading forever"
Message from console:
<img width="525" alt="Screen Shot 2019-10-05 at 9 34 06 AM" src="https://user-images.githubusercontent.com/288353/66257887-55d78400-e753-11e9-81f4-c15bbdb75162.png">

I am guessing that the search query is not dependent on the Full Name. If so, the Full Name field should be optional, and we let a user proceed if they haven't filled it out.

[2019-10-05 16:47] ggangix commented on #49
I would like to solve this issue.

[2019-10-05 16:50] srish commented on #49
@ggangix thanks for your interest, I've assigned the issue to you :)

[2019-10-05 17:19] ggangix commented on #49
Looks like the Full Name is a required field, could we show an error message to the user or if the user doesn't fill the field we can use one of the other two fields as a full name.

What do you think @srish ?

[2019-10-07 19:55] srish commented on #49
@ggangix I think the first part could be to investigate if we require a full name in any of the queries. My sense is not, but maybe just double check on that.
If we really need a full name, then showing an error would make sense; if not, then just like when a user does not provide `Gerrit` username, and we let them proceed, in a similar way here as well, we keep the same flow.

[2019-10-08 11:39] Ammarpad commented on #41
Hi @srish, I cannot reproduce this bug. I can select both current month (October) and any other. Likewise I can select any time range.

[2019-10-08 11:55] Jain-Aditya opened #50 "Provide at least one entry - Phabricator or Gerrit Username before making a search"
There is no point making a search when a user omits both "Phabricator username" and "Gerrit Username" fields. We should probably display a message  "At least one field is required" or anything similar to that.

[2019-10-08 19:10] srish commented on #41
@Ammarpad That's interesting! I'm still seeing this on my end. Which browser are you on, and would it be possible for you to paste your console.log() output here when you select `October 2019` in the date dropdown and `Last 30 days` in the Time range dropdown? Thanks!

[2019-10-09 03:57] Ammarpad commented on #41
I am using 'Google Chrome 77.0.3865.90 (Official Build) (64-bit)' on macOS.

Console output here:
[tools.wmflabs.org-1570591856062.log](https://github.com/wikimedia/WikiContrib/files/3705519/tools.wmflabs.org-1570591856062.log)

I also added a 1-minute screencast: [here at imgur.com](https://imgur.com/Izqvpzu)

[2019-10-09 19:45] srish commented on #21
I spent some more time trying to investigate this issue. Though the data stored on the backend and fetched in the frontend matches (see screenshots ), I'm almost concluding that we are logging the dates incorrectly on the backend.

Frontend:
<img width="1015" alt="Screen-Shot-2019-10-04-at-11 43 07-PM" src="https://user-images.githubusercontent.com/288353/66514086-53e22d80-ea91-11e9-8ce4-4a0837b04

[2019-10-10 06:03] srish commented on #41
@Ammarpad WOW! I've the same setting as well and it is not working for me. Also, I tried Safari and Firefox, but the problem persists. We need a third person now to help verify :)

[2019-10-14 18:57] rammanoj commented on #49
@srish and @ggangix fullname is the required field. The main search input searches for the full name. This [API](https://documenter.getpostman.com/view/6222710/SVYurxMj?version=latest#66c574a3-1567-4692-9e85-66ce1f8ef62b) is used to search the users. It require fullname as a parameter.

I guess showing an error when full name is not provided would be fine.

[2019-10-14 19:03] rammanoj commented on #41
@srish are there any console errors when you try to select the first element of the list?

[2019-10-14 19:04] rammanoj commented on #41
@Ammarpad Thanks for pointing this out! I guess this creates a new issue!

[2019-10-14 19:27] rammanoj commented on #21
@srish Thanks for the research!!

Initially, the datetime is in the form (2019-09-11 22:54:43.000000000) and by converting it to the epouch time, the value is 1568188800. If this is converted back, you are getting same date right ?? I mean (2019-09-11). But the time is varying !!

For created_on field, charField is being used ([link](https://github.com/wikimedia/WikiContrib/blob/master/backend/Con

[2019-10-14 19:39] rammanoj commented on #21
@srish I can see 2 commits from gerrit created on 2019-9-12 (in app).
![image](https://user-images.githubusercontent.com/21082378/66777906-daf73180-eee7-11e9-9017-e1d190b48790.png)
But in the case of tool, all the commits are being displayed on sep 11, this is causing the incorrect mapping!
![image](https://user-images.githubusercontent.com/21082378/66777776-7f2ca880-eee7-11e9-88ec-9377cd2d7b0d.pn

[2019-10-15 02:32] rammanoj commented on #23
@srish is there any way to check it out ?? How to validate if the phabricator and gerrit account username's entered are linked to the same person ? Is there any API present to perform it ?

[2019-10-15 08:37] rammanoj commented on #50
Cool feature! @Jain-Aditya

The inputs can be given in two formats:
1. directly in the site
2. in the form of csv file.

If the user provide the usernames through the tool directly, then an error can be displayed whenever the both the usernames are not provided.

But if he/she uploads the usernames in the form of  csv file, validating all of them might be a complex task (as the list in csv file ca

[2019-10-15 10:30] rammanoj commented on #40
@srish Can you reproduce the issue even now ?

In my localhost it displays something like:
![image](https://user-images.githubusercontent.com/21082378/66823010-f3f0f880-ef62-11e9-90e1-99548203b85f.png)

I tried this out and it is showing two contributions in September (2019). The tool counts the dates according to the first patch set sent to the commit. It does not count according to the ```last u

[2019-10-15 19:06] srish commented on #41
I figured the reason why this is happening. For the end date being November 1st (default setting) the end month should be October, but the output I get for https://github.com/wikimedia/WikiContrib/blob/master/frontend/WikiContrib-Frontend/src/result.js#L631 is in PST (my current timezone) i.e. September 30th. This is also the reason why I see a mismatch in the plotted contributions that I reported

[2019-10-15 19:14] srish commented on #40
@rammanoj I just tested this issue in production again and I don't seem to reproduce this. Maybe I was expecting contributions that were not in the time range :-/ I'm closing this for now, we can re-open if necessary.

[2019-10-15 19:14] #40 closed

[2019-10-15 20:16] srish commented on #21
I think ideally we ensure that the timestamps we get from both the APIs are stored in UTC format on the backend and then we populate the localized version to the user on the frontend.
I am not sure I fully understand, I am guessing that somehow we are storing the local timestamp for both Gerrit and Phabricator looking at [L142](https://github.com/wikimedia/WikiContrib/blob/master/backend/Contraban

[2019-10-15 20:30] srish commented on #23
@rammanoj Good question! I'm not aware of any :-/ I guess this would require a bit of research and ask around folks at Wikimedia :)

[2019-10-15 20:33] srish commented on #22
(closing this task I am convinced w/ @tuxology's comment)

[2019-10-15 20:33] #22 closed

[2019-10-16 10:56] rammanoj commented on #23
@srish can I ask about it here(https://discourse-mediawiki.wmflabs.org/) ?

[2019-10-16 11:00] #25 closed

[2019-10-16 11:11] rammanoj commented on #29
@Jain-Aditya This is a good feature but this affects UI a lot!!

If no graph is displayed, it creates a lot of space over there, it might not look appealing for the users of the tool. The UI need a tweak a bit in that case. It will be good if you can suggest an alternate UI!

[2019-10-16 15:32] Jain-Aditya commented on #29
Ah yes @rammanoj ! - One option is to simply increase the size of the other chart to fill up the empty space. What do you think?

[2019-10-16 15:53] Jain-Aditya commented on #23
@rammanoj @srish Validating that all the fields belong to the same users might be a tough task. But, still we could check if the fields entered by a user are even correct or not, which would be a major improvement to the present search interface.
For instance, If I search for a username(xyz) that don't even exists then we will not proceed and display an error message.

[2019-10-16 15:57] Jain-Aditya opened #55 "Changes not reflected in live tool"
After merging #47, the graph formatting should've improved. I think the changes aren't pulled into production environment

[2019-10-16 23:04] srish commented on #55
@Jain-Aditya Yes, that's right! Currently, our app deployment is set up in a complicated manner. It is not super easy to update the app with changes frequently, and we would prefer to roll out features slowly :)

I'm closing this task now, there might be another one coming soon related to app deployment.

[2019-10-16 23:04] #55 closed

[2019-10-16 23:18] srish commented on #23
@Jain-Aditya Thanks for the idea, I like it a lot! :)
@rammanoj I think if anyone else who might know if there are any APIs would be folks on the IRC channel: #wikimedia-releng. You could get in touch with them. In any case, I'm liking @Jain-Aditya's idea a lot. I think we should definitely do the checks.

[2019-10-17 02:27] rammanoj commented on #55
The issue #2 is to automate the deployment.

[2019-10-17 10:36] Ammarpad opened #56 "Visual clutter when user has many contributions"
When a user has few contributions in the selected range, the y axis displays clearly visible numbers
![Screen Shot 2019-10-17 at 11 28 25 AM](https://user-images.githubusercontent.com/45658045/67001383-7e576a80-f0d1-11e9-9bd7-e652bcc4a606.png)

But when the contribution to display is high, things start to look different. No numbers, just a visual clutter.
![Screen Shot 2019-10-17 at 11 28 12 AM](h

[2019-10-18 07:02] rammanoj commented on #21
It is query created time. It does not affect the users. It is used because each query has a expiry time of 30 days. The cron job runs for every day night to check if there are any queries that are older than a month. If exists, it deletes all of them!

Yeah! This is the ideal one. I will try to implement this out.

Yeah might be!! I should have looked through the time zones when I've implemented i

[2019-10-18 07:03] rammanoj commented on #21
@srish Can you paste the link to the query link that displays the result as shown the in the issue description ?

i.e for this image:
<img width="1043" alt="Screen Shot 2019-08-26 at 2 02 09 PM" src="https://user-images.githubusercontent.com/288353/63723451-5999f180-c80a-11e9-8a9b-8023ceb637ac.png">

[2019-10-23 04:27] srish commented on #21
@rammanoj sorry for the delay! I couldn't find the exact query link, but here is another one https://tools.wmflabs.org/wikicontrib/ixZb6W7Lkg4MStOxQ656zUxuBZITT95osVX0wyPT0Zro8Q9XsYAaZGQdw3NIOg2p/.

[2019-10-23 23:37] srish commented on #21
(@rammanoj assigning this issue to you, as this is way beyond my expertise :-/)

[2019-10-23 23:47] srish opened #57 "Frontend and backend should be one tool in Toolforge"
Currently, there are three tools in Toolforge that are related to WikiContrib:
https://tools.wmflabs.org/wikicontrib/
https://tools.wmflabs.org/contraband/
https://tools.wmflabs.org/contrabandapp

One of these tools host frontend and one of them the backend of the app. I am not sure what the third tool does. I think not only this makes the deployment process complicated but also it means leveragin

[2019-10-24 00:07] srish opened #58 "Integrate list view of contributions of users added via CSV file upload feature"
Visualization of contributions for users added via the CSV file upload feature in its current shape and form works well. One of the possible use cases of this feature -a hackathon scholarship committee uses it to eliminate applicants with little or no contributions to Wikimedia projects from the scholarship list. This feature can also help decide between promising candidates. Right now, the commit

[2019-10-24 00:16] srish opened #59 "Replace `contraband` with `wikicontrib` in the codebase"
The old name of the WikiContrib project is Contraband. Currently, in quite a few places in the codebase, we are still using the old name of the project. For example, for folder names (e.g. backend/Contraband/contraband), module names, documentation, etc. Ideally, `Contraband` gets replaced with `WikiContrib`.

This task is reserved for Google Code-in students.

[2019-10-24 00:44] srish commented on #21
@rammanoj If this helps, I just read here that "Contributions are timestamped according to Coordinated Universal Time (UTC) rather than your local time zone" https://help.github.com/en/github/setting-up-and-managing-your-github-profile/why-are-my-contributions-not-showing-up-on-my-profile

[2019-10-24 00:50] srish opened #60 "Count meaningful contributions only"
Currently, for Gerrit, we are counting all the patches that have a status which matches with the one in the list below:

[code]
For Gerrit, I think only `merged` contributions are meaningful. Just like in Github, contributions that are under review or not yet merged are not counted. So, ideally, we count only patches with `merged` status.

Currently, for Phabricator, we are counting all those task

[2019-10-24 01:00] srish opened #61 "Remove the `contribution status` filter"
Once the following issue https://github.com/wikimedia/WikiContrib/issues/60 is addressed, maybe we should consider removing the `contribution status` filter.

I think that the filter is adding complexity and we should keep visualization feature simple. Also, it is of little value for user to apply filter to view contributions that are not meaningful.

This could also be a Google Code-in task.

<im

[2019-10-24 20:45] JanStevcik commented on #61
Hi do you want to hide Contribution status like on screenshot below?

![scr1](https://user-images.githubusercontent.com/42576360/67523565-3c20c100-f6af-11e9-9eaa-35392c2343cd.png)

I can hide it in css, and if you change your mind, it can be easily getting back.

[2019-10-24 21:07] JanStevcik commented on #60
Hi, if I understand right, you merge data from phabricator and gerit. Now, for Phabricator you want to select data with status: 'open' and 'resolved' and for Gerrit with status 'merged'. ...just for sure.
Please fix me if i'm wrong.

I would like to do this issue.

[2019-10-26 05:42] rammanoj commented on #60
@JanStevcik thanks for your interest, @srish means that. You are welcomed to solve this :)

[2019-10-26 05:44] rammanoj commented on #61
Nope, it's not only just hiding the contribution filter, you should also remove all the functions and operations defined for that contribution filter.

Apart of the front-end, you also need to change the backend i.e the API.

[2019-10-29 05:08] rammanoj commented on #58
@srish This is one of the main features of the project. But I need to get the corresponding APIs to get the data. Where can I know about the different APIs available ?

[2019-11-02 00:30] srish commented on #58
@rammanoj It looks like getting access to other APIs such as Bitergia isn't easy. I think it would make sense for us to try to gain access when we have a record of the bulk feature being useful to our platform users.

Do you have a sense of how much time it might take if we are trying to pull information of let say ~200 users with Gerrit/Phabricator APIs we are already using?

[2019-11-02 00:36] srish commented on #61
In addition to what @rammanoj said, we have this task reserved for Google Code-in :)

[2019-11-02 16:24] #50 closed

[2019-11-02 16:34] rammanoj commented on #58
Thanks @srish I will provide you with the detailed analysis soon. I know that it takes much time. But I will experiment it once again and give you the detailed explanation.

It is not only with bitergia. Are there any other tools like it that provide us the data ? Are there any IRC channels to discuss about the APIs and stuff ?

[2019-11-03 05:41] srish commented on #58
@rammanoj Sounds good! I think Bitergia might be the best route (if at all) as per the research you did during GSoC and my follow-up conversations with Andre. I was thinking about this feature a bit more. I imagine the loading of data for the list view can work similarly to how it works right now with the bulk view in chunks. If not 200 users at once, we can try to fetch information, let say for ~

[2019-11-19 20:01] urbanecm commented on #59
Unchecked "is beginner" (it's comparable with lint error fixing, which isn't usually marked as a beginner task), decreased time available to 4 days and published. See https://codein.withgoogle.com/dashboard/tasks/5728948382597120/.

[2019-11-21 00:26] srish commented on #49
(addressed here https://github.com/wikimedia/WikiContrib/pull/62)

[2019-11-21 00:26] #49 closed

[2019-11-21 00:31] srish commented on #41
(seems to be fixed by changes here https://github.com/wikimedia/WikiContrib/pull/54)

[2019-11-21 00:31] #41 closed

[2019-11-21 00:48] srish opened #65 "Remove the `Github` column from the username table on bulk upload page"
WikiContrib tool currently does not show user contributions made to any Wikimedia project on Github. But, on the bulk upload page, the CSV file format in the information dialog conveys that we do. The file format in there shows a Github column in the username table. This task is about removing the Github column from the table and updating the corresponding file format screenshot.

<img width="1002

[2019-11-21 00:53] srish commented on #65
Imported here > https://codein.withgoogle.com/dashboard/tasks/4841993713221632/

[2019-11-21 01:43] srish opened #66 "Modify error message for missing user information"
Change the following error message in the code "Please provide the data regarding users." to "To visualize contributions, please provide user(s) information above." If you try to search for a user without providing any information in the input field, you get this error.

<img width="1047" alt="Screen Shot 2019-11-21 at 11 57 30 AM" src="https://user-images.githubusercontent.com/288353/69372230-237

[2019-11-21 01:46] srish commented on #66
Imported here https://codein.withgoogle.com/dashboard/tasks/5737504729202688/

[2019-11-21 01:56] srish opened #67 "Modify information about the WikiContrib tool"
Replace the message in the information dialog below with "WikiContrib tool provides a visualization within a specified time range of users' contributions to Wikimedia projects on Phabricator and Gerrit."

<img width="283" alt="Screen Shot 2019-11-20 at 5 53 10 PM" src="https://user-images.githubusercontent.com/288353/69293745-aea59380-0bbe-11ea-89af-5e61ce4a7ca4.png">

[2019-11-21 01:58] srish commented on #67
Imported here https://codein.withgoogle.com/dashboard/tasks/4984820703166464/.

[2019-11-21 02:27] srish opened #68 "Make improvements to WikiContrib tool documentation on meta wiki"
Documentation here is outdated: https://meta.wikimedia.org/wiki/WikiContrib. It has a lot of process documentation such as technical implementation, wireframes, and mockups, that may not be useful to a potential user of the tool.

Some ideas for improving the documentation:
* Move all the implementation details (background info, technical implementation, wireframes, etc.) to a subpage.
* Proposed

[2019-11-21 02:31] srish commented on #68
Imported here https://codein.withgoogle.com/dashboard/tasks/5276992933462016/.

[2019-11-21 14:37] urbanecm commented on #66
Note: As a potentional student, I would ask myself "how to get that error message?" Maybe you can add that information :-).

[2019-11-21 19:59] srish commented on #66
@urbanecm Thank you! I've updated the task description both here and on GCI site. Help publish it :)

[2019-11-21 22:18] urbanecm commented on #66
Thanks, published!

[2019-11-22 00:40] srish opened #69 "Design a logo for WikiContrib project"
WikiContrib tool provides a visualization within a specified time range of users' contributions to Wikimedia projects on Phabricator and Gerrit. You can play around with it here: https://tools.wmflabs.org/wikicontrib/.

Design a fun logo following the tips-and-tricks below:
* Submit the design as a vector [SVG](https://en.wikipedia.org/wiki/Scalable_Vector_Graphics) file which can be resized witho

[2019-11-22 00:43] srish commented on #69
Imported here https://codein.withgoogle.com/dashboard/tasks/5708807938768896/.

[2019-11-22 03:28] rammanoj opened #70 "Show popup about the csv format on clicking the "bulk upload""
Most of the users get confused because they do not directly see any format in which the CSV file need to be uploaded (of course it is there in the **info** button). But that is not a great idea because no one thinks that the format is specified over there. So, there can be a quick fix by making a popup on the info button specifying "View the CSV format here" for 5 to 6 seconds on clicking the bulk

[2019-11-22 03:29] rammanoj commented on #70
Imported to https://codein.withgoogle.com/dashboard/tasks/6329015443390464/

[2019-11-22 03:39] rammanoj opened #71 "Add icon of corresponding platform entities in user activity on specific date"
On clicking the User activity on a specific date, the list of tasks on that specific date are being displayed.
Example:
![image](https://user-images.githubusercontent.com/21082378/69396081-22eb4e80-0d07-11ea-8645-a720f26590ae.png)

I guess the design need to be updated, maybe an icon can be added for each of them alike:
![image](https://user-images.githubusercontent.com/21082378/69399718-37cede80-

[2019-11-22 03:41] rammanoj commented on #71
Imported to https://codein.withgoogle.com/dashboard/tasks/4823572363608064/

[2019-11-22 03:51] rammanoj opened #72 "Update .gitignore with semantic/ and semantic.json"
Recently in #63, @JanStevcik faced some problems while pushing the pull requests. Upon hosting the tool locally, few dependencies are getting added (like a directory named **semantic/** and a file named **semantic.json**).

When the contributor is pushing the patch to the repo and if he/she accidentally type the command **git add .**. The above two specified ones are being added to the commit. Ide

[2019-11-22 03:53] rammanoj commented on #72
Imported to https://codein.withgoogle.com/dashboard/tasks/6534530031157248/

[2019-11-22 04:09] rammanoj opened #73 "Remove outlines on focusing the inputs"
Upon focusing the inputs, there are blue borders being appeared.
![image](https://user-images.githubusercontent.com/21082378/69397248-84adb780-0d0b-11ea-9436-5460160f7d99.png)

This is not the fault of the tool, as far as I know, it is nature of the web browser. I can reproduce this in chrome and brave. But I could not see it in firefox.

I haven't tested it with safari (But I guess safari also sh

[2019-11-22 04:12] rammanoj commented on #73
Imported to https://codein.withgoogle.com/dashboard/tasks/5310433011957760/

[2019-11-22 05:27] rammanoj opened #74 "Add hovering affects to commits on specific date"
Add hovering affect to the commits on specific date. It can look like: (fourth commit in the image).
![helo](https://user-images.githubusercontent.com/21082378/69400311-34d4ed80-0d17-11ea-95fd-98f8bd90c810.png)

Presently, all the commits are displayed in the cards with a shadow as shown in the above figure. [Hover property](https://developer.mozilla.org/en-US/docs/Web/CSS/:hover) can be added to

[2019-11-22 05:30] rammanoj commented on #74
Imported to https://codein.withgoogle.com/dashboard/tasks/5404943666642944/

[2019-11-22 08:27] urbanecm commented on #71
Hello, I've removed the "beginner task" checkbox from your GCI task. This task is a proper coding task, rather than a "getting started" type of tasks, like "go to IRC and say hi" or "learn how to use Gerrit". Otherwise, looks good, published.

[2019-11-22 08:31] urbanecm commented on #73
Unmarked as beginner and published.

[2019-11-29 03:58] rammanoj opened #75 "Rename "PORT" to "DB_PORT""
In .env.example there is a variable named **PORT**. It provide the details of the database port through which the current backend server can be connected to database server.

In toolforge, on hosting this tool with the variable named **PORT** in environment file, the tool is not responding to any requests. The exact reason for it is still unknown (There might be some internal configuration issues)

[2019-11-29 04:00] rammanoj commented on #75
Imported to https://codein.withgoogle.com/dashboard/tasks/6221921776041984/

[2019-11-29 13:45] rammanoj commented on #46
@Jain-Aditya Thankyou for your intrest and valuable contributions. The tool has been updated and all the changes you made are now online.

[2019-12-02 19:18] X3NOSIZ commented on #75
Check pull request #79

[2019-12-04 04:25] #72 closed

[2019-12-04 04:25] #75 closed

[2019-12-05 04:35] rammanoj opened #83 "Add dist/ in .gitignore"

[2019-12-05 23:31] srish commented on #65
@ShcherbaDev fixed the issue..

[2019-12-05 23:31] #65 closed

[2019-12-07 20:16] zoranzoki21 commented on #69
Hi, URL for me shows 404.

[2019-12-07 20:55] srish commented on #69
@zoranzoki21 thank you for reporting this! We are investigating...In the meantime, if you would like to know what the visualization generated by the tool looks like, take a look at this image here https://srishtisethi.com/img/project-gallery/wikicontrib.png

[2019-12-08 07:17] rammanoj commented on #74
Your CSS code also add hovering affects to the card that are loading... Please check it once and make another patch to it.

[2019-12-08 08:43] #67 closed

[2019-12-08 08:52] rammanoj commented on #67
@minhducsun2002 Thanks for the update. Your change is live at https://tools.wmflabs.org/wikicontrib

[2019-12-08 08:55] rammanoj commented on #69
@zoranzoki21 There was an error in travis ci script. I was trying to resolve it for the past two days. Everytime a person makes a commit to the server, it gets deployed and because of the error in script, deployment used to be aborted in middle. I fixed it today. You can check it now.

[2019-12-08 12:30] ShcherbaDev commented on #74
Please check my pull request #92

[2019-12-08 21:07] #66 closed

[2019-12-08 21:35] srish commented on #74
Fixed by @ShcherbaDev via #92 and #89

[2019-12-08 21:35] #74 closed

[2019-12-09 03:03] #83 closed

[2019-12-09 18:57] #59 closed

[2019-12-09 19:06] srish commented on #59
Thanks to @n3rsti for working on this issue :)

[2019-12-12 05:19] Jain-Aditya opened #98 "Incorrect date range on the user activity page"
Steps to Reproduce:
* Go to https://tools.wmflabs.org/wikicontrib/
* Provide user information (Fullname, Phabricator and Gerrit usernames)
* You will be redirected to a user activity page that will show "undefined" value for end date. The correct range for the current month should be "January 2019" - "December 2019" (see screenshot below)

![Screen Shot 2019-12-12 at 10 42 26 AM](https://user-imag

[2019-12-13 01:03] srish commented on #98
@Jain-Aditya Thank you for reporting the issue! I've imported it here https://codein.withgoogle.com/dashboard/tasks/5550660053893120/preview/.

@urbanecm @aklapper one of you please help publish this task. thank you!

[2019-12-13 15:40] #70 closed

[2019-12-14 08:16] #73 closed

[2019-12-14 16:17] ajuancer opened #101 "Can't use FS functions."
Hi!
I'm trying to implement some functions in the activity.js of the Frontend part ([this file)](https://github.com/wikimedia/WikiContrib/blob/master/frontend/WikiContrib-Frontend/src/components/activity.js). I need to make use of the Node.js File System Module, but when I test the changes, I get the TypeError `fs.readFileSync is not a function`.
The simplify code:
[code]
Thanks in advance.

[2019-12-15 05:18] rammanoj commented on #101
As per the answer in this [link](https://stackoverflow.com/questions/43199224/uncaught-typeerror-fs-readfilesync-is-not-a-function-in-console), ``fs`` is a nodejs built-in module, it need server to execute. But the above code is executing in the browser. This is the reason for the error!!

Closing the task, feel free to re-open if you have any more queries...

[2019-12-15 05:18] #101 closed

[2019-12-15 05:22] rammanoj opened #102 "Filters breaking in december!!"
The ``start_date`` and ``end_date`` filters of the app are breaking in december month. The reason for this might be due to the line ``month = month + 1`` in the code. It should be replace with ``month = (month + 1)%12``. There need to be some more code changes.

[2019-12-15 05:22] rammanoj commented on #98
This is a result to #102

[2019-12-15 10:03] ajuancer opened #103 "Execute code server-side"
Hi!
In issue #101 Can't use FS functions, the given solution is to execute that fs-dependent function in server-side instead of client-side. How can I do that?

[2019-12-15 10:08] rammanoj commented on #103
Can I know the reason why you want to execute FS functions ? Are you trying to implement any functionalities ? If so, can I know them, so that I can help you more...

As far as I know, the server side programming language is python. You can find it in backend/ directory.. You can use ``fs`` equivalent function there.

[2019-12-15 10:20] ajuancer commented on #103
Thanks! Yes, I see the backend folder but I thought that maybe I missed a subfolder that contains JS. There's no problem for me to implement the function in python, but I'm not sure how to use the function (import it, call it with the needed attribute and use its return) inside the JS file. The function returns a string (that would be used in `activity.js`. Another question is in which file should

[2019-12-15 10:46] rammanoj commented on #103
Can I know what do you want to implement?

[2019-12-15 11:41] ajuancer commented on #103
Of course! I'm trying to show an icon in the user activity on a specific date, similar to issue #71 . This icon is an SVG file. The objective is to return the corresponding SVG depending on the status. The code (already in python) is:
[code]
I have tested and it works fine, but I'm not sure how to use it in `activity.js`.
Thanks!

[2019-12-18 08:53] rammanoj commented on #103
@ajuancer sorry for delay.

Why do you want to read the image ? For displaying the image, you can just write the following code:
[code]

I recommend you to **write a function that return the path of the url of the image** so that the returned url can be fitted in the above code. If you are just trying to show the icon, there is no need to read the file, just return the path of the file to the html

[2019-12-18 14:06] ajuancer commented on #103
Hi! Answering your question, I'm interested in returning an SVG, not a normal image. Issue #71, that works with images, is already resolved (since it's more related CGI information I wrote it in the state of the task), but I decided to make some icons instead of showing the status's name. As SVG is better than a normal img, I designed them in this format, but, anyway, as I haven't much more time,

[2019-12-21 04:12] subscriptshoe9 commented on #69
Here is the logo from GCI : https://commons.wikimedia.org/wiki/File:WikiContrib_Logo_2019-12-21.svg

[2019-12-23 23:10] srish commented on #71
(fixed by @ajuancer via https://github.com/wikimedia/WikiContrib/pull/104)

[2019-12-23 23:10] #71 closed

[2019-12-25 05:45] rammanoj commented on #103
Cool, Closing this task...

[2019-12-25 05:45] #103 closed

[2020-01-11 08:53] Ammarpad opened #105 "Consider renaming this tool"
Hello everyone,

For sometime now, I've been wondering why this tool was named the way it's. I believe this tool is clearly misnamed. I am not sure whether there was any conscious decision/deliberation in choosing the name or if it just happened to be chosen by the primary developer in the initial phase of the code.

If there was any discussion endorsing the suitability of this name then you can j

[2020-03-05 23:51] Je-ni commented on #102
Hi, I'm from Outreachy. I'd like to work on this issue.

[2020-03-06 03:07] jencwong commented on #60
I would like to work on this issue.

[2020-03-06 09:37] yaeluria commented on #61
Hi, I'm an Outreachy applicant. Can I work on this issue?

[2020-03-06 23:00] firshta2016 commented on #68
Hi, I am an Outreachy intern and I would love to work on this issue.

[2020-03-07 01:29] srish commented on #61
@yaeluria hi and welcome! if you have any questions feel free to reach out in the chat: https://wikimedia.zulipchat.com/#narrow/stream/220258-gsoc20-outreachy20/topic/WikiContrib

[2020-03-07 01:29] srish commented on #60
@jencwong hi and welcome! if you have any questions feel free to reach out in the chat: https://wikimedia.zulipchat.com/#narrow/stream/220258-gsoc20-outreachy20/topic/WikiContrib

[2020-03-07 01:30] srish commented on #102
@Je-ni hi and welcome! if you have any questions feel free to reach out in the chat: https://wikimedia.zulipchat.com/#narrow/stream/220258-gsoc20-outreachy20/topic/WikiContrib

[2020-03-07 01:30] srish commented on #68
@firshta2016 hi and welcome! if you have any questions feel free to reach out in the chat: https://wikimedia.zulipchat.com/#narrow/stream/220258-gsoc20-outreachy20/topic/WikiContrib

[2020-03-07 01:41] srish commented on #105
@Ammarpad Thanks for sharing your concern and sorry for the late response! I would like to share that WikiContrib is the second time we changed the name of the project. After we announced it on Wikitech, there were some concerns shared on the first name, and we decided to change it to WikiContrib: https://lists.wikimedia.org/pipermail/wikitech-l/2019-June/092169.html

Also, this tool is going to b

[2020-03-07 07:51] gotham3 commented on #102
Hello! I'm an outreachy applicant and would like working on this issue!

[2020-03-07 21:35] Je-ni commented on #102
Hi, going through issue #98 and the PR sent for #99, it seems this issue has been resolved and awaiting PR merge. Please confirm.

[2020-03-08 01:44] NdibeRaymond commented on #98
Hello, I am an outreachy intern and I would like to work on this issue @srish

[2020-03-08 02:04] NdibeRaymond opened #108 "Make improvements to WikiContrib tool documentation on wikicontrib.readthedocs.io"
while going through the wikicontrib documentation on (https://wikicontrib.readthedocs.io),
I noticed certain grammatical errors that might affect how a non-native English speaker is going to understand the documentation. For example:
![IMG_20200308_030612](https://user-images.githubusercontent.com/40905613/76155264-f9093c80-60e9-11ea-9025-1944865d9799.jpg)
![IMG_20200308_030633](https://user-image

[2020-03-08 02:05] NdibeRaymond commented on #108
I would love to work on this issue

[2020-03-08 02:11] NdibeRaymond commented on #29
I would love to work on this issue @rammanoj  but I would need certain pointers like for example if I should remove the chart and leave the space blank or if I should remove it and increase the other chart to fill up the given space

[2020-03-08 02:15] NdibeRaymond commented on #23
Ok. This kinda looks interesting. Can I work on it @srish?

[2020-03-08 08:05] isunitha98selvan commented on #21
@srish I am an Outreachy applicant. I would like to work on this issue

[2020-03-08 11:48] MeherChinwala commented on #108
Hi, I'm an Outreachy aspirant, can I work on this issue @srish ? Thanks.

[2020-03-08 12:17] MeherChinwala commented on #61
Hi, @srish, I'm an outreachy aspirant, where can I find more unassigned issues with a good first issue label? Are more issues going to be added for this project? Thanks.

[2020-03-08 12:44] MeherChinwala commented on #57
Hi, @srish, is this issue still open?

[2020-03-08 13:33] NdibeRaymond commented on #58
hello, I am an outreachy applicant and I would love to take up this feature implementation. I would need more details as to which approach is best, fetch everything once or fetch in batches?

[2020-03-08 13:38] NdibeRaymond commented on #21
if this issue is still open I would love to work on it @srish

[2020-03-08 20:09] srish commented on #108
@NdibeRaymond Hi and welcome! Thanks for reporting this issue, it is a good one :) I see that you commented on some other issues as well, though I haven't gone through all of them yet. My recommendation would be to start from this issue (as it is fairly easy than others to get familiar with the project) and come to others later. Assigning this to you!

[2020-03-08 20:13] srish commented on #108
@NdibeRaymond Just noticed that you have already sent a PR! Thanks! I will review it soon.

[2020-03-08 20:18] srish commented on #102
@Je-ni Thanks for bringing this up. Indeed, there is a PR awaiting merge. I can't remember if there were any reasons behind not merging it. There are two options:
* You could test that PR and push any necessary changes to it.
* I can merge that PR, and then you test this issue and create a new PR if necessary.

Which approach would you like to take?

[2020-03-08 20:23] srish commented on #61
@MeherChinwala All the current issues are filed already on Github. You are welcome to set up this project, and create new issues as and when you discover them :) We can then chat more on their feasibility.

[2020-03-08 20:26] srish commented on #57
(closing this issue for now, will re-open when the need arises)

[2020-03-08 20:26] #57 closed

[2020-03-08 20:27] srish commented on #29
(closing this issue for now, I think this is going to affect the UI)

[2020-03-08 20:27] #29 closed

[2020-03-08 20:28] MeherChinwala commented on #61
@srish, okay thank you! I'll do that.

[2020-03-08 20:34] srish commented on #21
@isunitha98selvan @NdibeRaymond Thank you for your interest in working on this issue! This is a really complicated one. As you could see from the previous comments, we struggled to resolve this earlier :-/ I would not like this issue to be the first issue that you work on this project. So, maybe what you could instead do id, first set up the project, and create any new easy-to-fix issues as and wh

[2020-03-08 20:45] srish commented on #58
@NdibeRaymond Thanks for your interest in working on this issue! This is a big feature, and it might take a lot of time to implement it. I can imagine a microtask around this could be to investigate how much time does it take to fetch 20 users at once and what are the overall API limits with Phabricator and Gerrit. From there, we can decide whether or not this list view feature is feasible. If you

[2020-03-08 20:51] #108 closed

[2020-03-08 20:59] srish commented on #58
@rammanoj @tuxology please add anything, I may have missed here!

[2020-03-08 21:05] NdibeRaymond commented on #58
ok. i will be working on the micro task then

[2020-03-08 21:15] NdibeRaymond opened #110 "Find out how long it takes to fetch 20 users data at once and api limit of Phabricator and Gerrit"
This is a microtask for issue #58
assigning to @NdibeRaymond

[2020-03-08 21:24] codeEmpress1 commented on #98
Hello, @srish I am an outreachy applicant, can I work on this

[2020-03-08 21:26] codeEmpress1 commented on #3
Hi @kamthamc , @tuxology, I am an outreachy applicant I would like to work on this issue.

[2020-03-08 21:29] NdibeRaymond commented on #110
@srish I don't have the permission to assign this repository to myself

[2020-03-08 21:41] srish commented on #98
@codeEmpress1 this depends on #102

[2020-03-08 21:45] NdibeRaymond commented on #21
@srish i still want to give it a shot. will help in understanding the project even more

[2020-03-08 21:56] tuxology commented on #58
@NdibeRaymond Hi :wave: Thanks for working on this. So the issue and its current sate/workaround can be summarized as follows:

- While developing the list view, we identified that there are limits on the frequency of API calls we can do to fetch used info from Gerrit and Phabricator APIs. This means, it would take a long time to populate the complete table. This would not be very peasant UX as we

[2020-03-08 22:09] NdibeRaymond opened #111 "Minor Code Improvement: Remove unused babel/types import from frontend code"
"thisExpression" was imported from "babel/types" in query.js file but was never used in the frontend code.
I propose it be removed for the sake of a cleaner and less confusing codebase

[2020-03-08 22:10] NdibeRaymond commented on #111
i will be working on this @srish

[2020-03-08 22:12] NdibeRaymond opened #112 "Create project setup guide for windows users"
It would be nice to improve on the project setup guides by including a guide for windows users

[2020-03-08 22:13] NdibeRaymond commented on #112
i would love to handle this @srish

[2020-03-08 22:16] NdibeRaymond commented on #110
@srish please if you wouldn't mind, I would love to know if there is an existing csv file created for testing purpose that contains names of contributors on both phabricator and garrit

[2020-03-08 23:15] codeEmpress1 commented on #98
@srish, Thanks, can I wait for #102 to be resolved, I saw that a discussion is on-going for merging its PR or I choose another issue.

[2020-03-09 00:10] NdibeRaymond opened #114 "Make the tool more responsive and mobile friendly"
I noticed that this tool wasn't optimized for mobile use.
For example on device with screen width of 360 DIP, the tool looks like this
![IMG_20200309_005712](https://user-images.githubusercontent.com/40905613/76173782-a770b880-61a2-11ea-9f47-fac271fadd4e.jpg)
![IMG_20200309_010857](https://user-images.githubusercontent.com/40905613/76173785-a93a7c00-61a2-11ea-9deb-3f5b1403e6a3.jpg)
![IMG_20200309_

[2020-03-09 00:11] NdibeRaymond commented on #114
@srish I would love to take on this issue

[2020-03-09 02:02] NdibeRaymond commented on #21
@srish i would be needing your help to replicate this issue.  Maybe the contributors details that your searched for

[2020-03-09 04:13] NdibeRaymond opened #115 "Improve the Accessibility of the tool"
running chrome lighthouse audit reveals that the current accessibility rating for the result page is:

![result_page_accessbility_report](https://user-images.githubusercontent.com/40905613/76182225-71dcc700-61c4-11ea-90d1-7c3c67754f41.JPG)

and the current accessibility rating of the home page is:

![wiki_contrib_home_page_accessbility_report](https://user-images.githubusercontent.com/40905613/761

[2020-03-09 04:14] NdibeRaymond commented on #115
@srish i would love to work on this task

[2020-03-09 16:22] Je-ni commented on #102
Hi @srish, the backend is taking a bit of time to set up in my system as I don't have a python set up already. So I would prefer to go with option 2.

[2020-03-09 20:00] abbasidaniyal commented on #3
I would like to take up this issue. @srish

[2020-03-09 22:02] firshta2016 commented on #68
@srish I am a little lost, do I have to write the content or just basically reorganize the page based on your suggestions above?

[2020-03-10 08:07] codeEmpress1 opened #117 "Code Improvement: Modularize backend code"
It would be nice to make to backend code into modules, each modules doing a specific function. This would be in line with the SOLID principle of programming and  it would improve readability of the code.

[2020-03-10 08:10] codeEmpress1 commented on #117
@srish I will like to handle this issue

[2020-03-11 02:53] srish commented on #117
@codeEmpress1 Hi! Thanks for filing this issue. I would want to put this task on a low priority for now as the interns are going to be making continuous changes to the project between now and the application deadline, due to which backend overhaul might not be the right timing, I think. This task can be revisited later.

[2020-03-11 03:59] srish commented on #110
@NdibeRaymond You can save the info below in a .csv file for testing. You may change info, but the format will remain the same.
[code]

[2020-03-11 04:00] #111 closed

[2020-03-11 04:00] srish commented on #105
(closing this for now, will re-open when the need arises)

[2020-03-11 04:00] #105 closed

[2020-03-11 04:11] srish commented on #102
@Je-ni I just realized that option 2 won't work as the PR creator deleted the repository a while ago :-/

[2020-03-11 04:15] srish commented on #68
@firshta2016 Hi! This is about re-writing the content on that page. What you see in that page was written at the time the tool was being developed. So, it has more information related to technical implementation right now and less how to use the tool. See the 4th bullet point in the task description which gives some idea what the documentation should cover.

[2020-03-11 04:19] srish commented on #21
@NdibeRaymond As there are already lot of issues in your plate right now, maybe wait to get them merged first? :)
If someone else wants to give it a shot, please go ahead!

[2020-03-11 06:35] gotham3 commented on #102
@srish Hello kindly assign me to this task I can fix it!

[2020-03-11 09:57] NdibeRaymond commented on #21
Ok that's reasonable @srish

[2020-03-11 23:00] srish commented on #112
Thanks a tonne @NdibeRaymond for working on this! :)

[2020-03-11 23:00] #112 closed

[2020-03-11 23:21] Ammarpad commented on #105
Thank you @srish, I agree with the explanation.

[2020-03-12 20:08] muskangupta-iitr opened #121 "[version] `primordials` is not supported with gulp<=3 and node>=12"
During installation I found out a version combination on which `npm install` command will fail and give the following error :

![premordials-error](https://user-images.githubusercontent.com/50856599/76562154-c46ef980-64ca-11ea-8980-2e0f5f548654.png)

## Solution
This error can be solved by either downgrade the node version from 12 or upgrade gulp from 3. So, `README.md` should be updated according

[2020-03-12 20:29] muskangupta-iitr opened #122 "[splitting] Code splitting is not implemented in react app"
As the app includes more third party libraries and number of components increased, the bundles size of the app also increase. Bundling in react app will be mostly done by bundler like Webpack, Rollup, Browserify. Code-splitting your app can help you “lazy-load” just the things that are currently needed by the user, which can dramatically improve the performance of your app.

## Solution
We can imp

[2020-03-12 20:57] NdibeRaymond commented on #2
@srish it seems like this issue has been fixed. Maybe we should flag it as closed

[2020-03-12 21:04] NdibeRaymond commented on #23
Hello @srish , I would like to work on this feature implementation

[2020-03-12 21:55] NdibeRaymond opened #123 "Bug in filter form fields"
The "time range" and the "from" fields in the filter form are not functioning properly. I tried selecting the date ranges and found out that sometimes you try clicking on maybe "30 days" and 60 days is selected instead. You try clicking on January and December is selected instead. Sometimes it doesn't move at all and just remains on the previous value it was before you tried selecting another time

[2020-03-12 21:56] NdibeRaymond commented on #123
@srish  I would love to work on this

[2020-03-12 23:00] NdibeRaymond opened #124 "Phabricator and Gerrit graphs displaying more contributions than were requested"
Phabricator and gerrit graphs are plotting more contributions than they should. This can confuse reviewers and make it seem like someone contributed more than they did.

**Steps To Reproduce**
 * Visit the tool
 * Search for a contributor (You can use this details: fullname = Bryan Davis, gerrit username
 =BryanDavis, phab username = bd808)
 * Open the filter, go to "from" field and select Februar

[2020-03-12 23:12] NdibeRaymond commented on #124
@srish  I would love to work on this

[2020-03-13 00:57] srish commented on #2
Thanks for your commend @NdibeRaymond!

[2020-03-13 00:57] #2 closed

[2020-03-13 00:59] srish commented on #121
@muskangupta-iitr Thanks for reporting this issue, I've noticed this error as well while working on others projects :) It might be good to have this documented in the README.

[2020-03-13 16:02] NdibeRaymond opened #125 "CSV upload not working on windows with ms excel installed and on Android phone"
Can't upload csv file using my windows or Android phone

**To Reproduce Error**
 * make sure you are using a windows machine with ms-excel installed or an Android phone
 * go to (https://pastebin.com/F36YRqqf) and copy the csv file, open a text file on your local
 machine, add the csv text into the file and save it with a .csv extension
 * open (https://tools.wmflabs.org/wikicontrib/) and try uplo

[2020-03-13 16:03] NdibeRaymond commented on #125
@srish i would love to take on this bug

[2020-03-13 23:22] #115 closed

[2020-03-13 23:23] srish commented on #115
Thanks a lot @NdibeRaymond :)

[2020-03-13 23:25] #121 closed

[2020-03-13 23:25] srish commented on #121
Thanks a lot @muskangupta-iitr for this PR :)

[2020-03-13 23:35] srish commented on #124
@NdibeRaymond I have a feeling that this might be due to the incorrect implementation of the date range filter. So, some of those open issues should be addressed first.

[2020-03-13 23:37] srish commented on #123
@NdibeRaymond I have a feeling that this issue might be related to
https://github.com/wikimedia/WikiContrib/issues/98, https://github.com/wikimedia/WikiContrib/issues/102. So those should be addressed first.

[2020-03-13 23:43] srish commented on #122
@muskangupta-iitr Correct me if I am wrong, from what I understand this would require changing/re-organizing code in all of the components. Is that true? If so, this might not be a good task for the application round, as a lot of candidates will be working on different bits and pieces of the app, and the project will be in continuous development phase.

[2020-03-13 23:48] srish commented on #23
@NdibeRaymond If you can do some research on this, that'd be great!

[2020-03-13 23:53] srish commented on #102
@Je-ni Are you still interested in working on this task? If not, I will consider assigning it to @gotham3.

[2020-03-14 00:46] srish commented on #3
Thanks a lot @abbasidaniyal for your work on this task and @kamthamc for proposing this idea :)

[2020-03-14 00:46] #3 closed

[2020-03-14 03:00] NdibeRaymond commented on #60
@srish if no one is working on this issue I would love to take it up

[2020-03-14 03:07] jencwong commented on #60
Hi @NdibeRaymond  I am working on it  :)

[2020-03-14 03:09] NdibeRaymond commented on #61
@srish if no one is working on this task I would love to take it up as well

[2020-03-14 05:48] NdibeRaymond opened #127 "Server Error 500 if csv file contain certain non-English characters"
server throwing error 500 if there is any non-English character in csv file.

**example:**
fullname,Phabricator,Gerrit
Michael Große (WMDE),Michael,Michael Große
Jon Harald Søby (WMNO),jhsoby-WMNO,Jon Harald Søby

**To Reproduce**
 * copy the above csv in *example* into a file with a .csv extension and save
 * visit (https://tools.wmflabs.org/wikicontrib/) and try uploading and searching using the

[2020-03-14 05:49] NdibeRaymond commented on #127
@srish I would like to attempt solving this issue

[2020-03-14 10:17] Je-ni commented on #102
Hi @srish, please reassign it to @gotham3. I've been having `python interpreter not found` errors in my windows 10.

[2020-03-14 17:08] yaeluria commented on #61
I've already started work on this.

[2020-03-14 18:59] NdibeRaymond opened #130 "Incomplete installation guide"
The installation guide isn't really complete, as it omits to point out how to communicate with your own local Django server instead of the hosted one. Currently, all communications are done with the hosted backend. You can confirm this by looking at the API.js file, the local host URL is commented out but this was not indicated in the installation guide.
Is there any specific reason this was done

[2020-03-14 19:00] NdibeRaymond commented on #130
@srish , if this is not deliberate, I can fix it up

[2020-03-15 13:02] shivanigangadharan opened #131 "Fix overflow of blocks in total contributions card"
The monthly contributions blocks are overflowing the total contributions card from both sides.
They need to be contained inside the card. One way to do this would be adding a scrollable feature to their outer div.

![image](https://user-images.githubusercontent.com/30795425/76701872-3160da00-66eb-11ea-9bed-6e6eb6d3ef91.png)

[2020-03-15 13:06] shivanigangadharan commented on #131
@rammanoj I would like to work on this issue and fix it using the scrollable feature.

[2020-03-15 14:20] NdibeRaymond opened #133 "strftime('%s') causing server error on windows"
There are several places in the back-end code where "strftime('%s')" was used to obtain epoch time format. This so happens to be a Linux specific implementation as it leads to error on Windows. There are ways to make this very code platform independent so newbies running Windows can be able to fully contribute to this project

[2020-03-15 14:20] NdibeRaymond commented on #133
@srish allow me to fix this problem in a way that is platform independent

[2020-03-15 20:00] AyushShri opened #134 ""TypeError: context is undefined" when searchSuggest.js is used on Wikidata"
When i search for something on Wikidata, it shows an error " TypeError:Context is undefined". in the console while loading the page
The Bug happens in https://www.wikidata.org/w/resources/src/mediawiki.searchSuggest/searchSuggest.js
Tested true for both Firfox and chrome.

[2020-03-15 20:21] muskangupta-iitr commented on #122
@srish No, it doesn't change the structure but just change the way to import components. Most of the components are imported in `App.js` file, so changes will be only reflected in that file only.

[2020-03-16 00:29] NdibeRaymond commented on #134
I think this is the wrong repo you are creating this issue on @AyushShri
Maybe you should check (https://github.com/wikimedia/mediawiki)

[2020-03-16 18:02] shreyaa-s commented on #102
Hey @srish , I am Outrachy applicant and i would like to work on this issue. Can you please assign this to me? Thanks
PS: i have already setup the repo.

[2020-03-16 21:35] muskangupta-iitr opened #136 "[admin] User model field password is not read-only"
In the user admin model, password field is editable which is not correct as it is already encrypted. It should be ready-only and change password form should be opened when click on change password.

![change-password-field](https://user-images.githubusercontent.com/50856599/76801629-0dd98480-67fc-11ea-9229-3cdbc22b755b.png)

The problem is same for Query model as hash code can be edited from admin

[2020-03-16 21:48] muskangupta-iitr opened #137 "[ignore] Redundancy in backend/WikiContrib/.gitignore"
Current `backend/WikiContrib/.gitignore` file looks like this:
[code]
which can be reduced.
For ignoring `__pycache__`, we don't need to mention every folder pycache path. We can directly include only `__pycache__` and it will solve the problem.

One more problem is that the virtual environment is not included in the `.gitignore` file.
Like:
[code]
I would recommend to standardize the `.gitignore`

[2020-03-16 22:11] #114 closed

[2020-03-16 22:16] NdibeRaymond commented on #137
Hello @muskangupta-iitr , the .env wasn't put into .gitignore because we have no idea what each contributor will be naming their virtual environment. That means risking having something like
 .a/
.b/
.
.
.
.
.z/
Each one coming from different contributors and of no use to other users of the project. Instead it is advised that you add your environment into .git/info/exclude file. That way it won't

[2020-03-16 22:25] srish commented on #114
Thanks for your work on this @NdibeRaymond :)

[2020-03-16 22:39] muskangupta-iitr opened #138 "[fails] Error when phab_response is None"
I have not added my phab_key and try to request a username but got a error. If the `phab_response` is None, then the following error occured:

![check-missing](https://user-images.githubusercontent.com/50856599/76805241-51d08780-6804-11ea-8c67-24dcda03e877.png)

## Steps to reproduce:
1. Remove PHAB_KEY key from `.env` file.
2. Query any random username

## Solution:
If we implement some checks i.

[2020-03-16 22:42] srish commented on #127
@NdibeRaymond thanks for your work on this! :)

[2020-03-16 22:42] #127 closed

[2020-03-16 22:45] muskangupta-iitr commented on #137
@NdibeRaymond You are correct but atleast we should add some standard names as a part of standard `.gitignore` file for django project. We can also update the documentation and suggest them to name virtual environment as per standards but if they don't want to then we suggest alternatives as you suggested above.

[2020-03-16 22:46] srish commented on #130
@NdibeRaymond I am not a 100% sure about that implementation. Could you ping @rammanoj and @tuxology in https://wikimedia.zulipchat.com/#narrow/stream/220258-gsoc20-outreachy20/topic/WikiContrib and confirm?

[2020-03-16 22:49] NdibeRaymond commented on #130
Ok @srish , I will do that then get back to you when I get a reply

[2020-03-16 22:56] muskangupta-iitr commented on #122
@srish Should I show you the any demo `.js` file for this ?

[2020-03-16 23:05] srish commented on #131
@shivanigangadharan thanks for reporting this issue! I think the best way to go about this would be to reduce the size of the green square boxes, remove the space between month blocks just like Github does.

On small screens, these blocks overflows even more:

<img width="200" alt="Screen Shot 2020-03-16 at 3 57 38 PM" src="https://user-images.githubusercontent.com/288353/76806707-69295980-679f-11

[2020-03-16 23:08] srish commented on #125
@NdibeRaymond Thank you :) This is superb!

[2020-03-16 23:08] #125 closed

[2020-03-16 23:26] srish commented on #133
@NdibeRaymond I will come to review this PR in a day or so. In the meantime, could you post the error on windows caused by the specific function use.

[2020-03-16 23:31] srish commented on #134
(wrong repo for the issue filed; @AyushShri please chat with us on Zulip if you need help in finding the correct repo)

[2020-03-16 23:31] #134 closed

[2020-03-16 23:44] srish commented on #138
I don't think we need an explicit check for `PHAB_KEY` It needs to be present in the `.env`. And, if it is not, then one should be getting an error in the same way as it is right now.

I'm closing this issue.

[2020-03-16 23:44] #138 closed

[2020-03-16 23:47] srish commented on #137
@muskangupta-iitr This issue is trivial and what @NdibeRaymond says about `.env` makes sense to me.
(I'm closing this for now, we can re-open when the need arises)

[2020-03-16 23:47] #137 closed

[2020-03-17 06:27] eeshadutta opened #139 "Button functionality not clear"
![hover_labels](https://user-images.githubusercontent.com/32328812/76827973-f4f5c100-6845-11ea-9b23-66b51162a29c.png)

On the main page, there are 3 buttons below the usernames but it doesn't give the functionality of each button. As a first time user, I wasn't sure which button did what.

We could add labels when the mouse is hovered over each of the buttons or make the buttons more descriptive.

[2020-03-17 06:27] eeshadutta commented on #139
@srish I would like to work on this!

[2020-03-17 06:36] eeshadutta commented on #102
Hi @srish Could I take up this issue?

[2020-03-17 08:57] eeshadutta commented on #68
Hi @srish Can I take this up?

Couple of doubts -
Should I be making changes to the page directly by going to [edit] or should I create a document highlighting what changes I would like to make and then edit the main web page if the document seems fine?

Thanks!

[2020-03-17 09:03] eeshadutta commented on #60
Hi @jencwong are you working on this? If not, could I please take it up @srish ?
Thanks

[2020-03-17 09:30] NdibeRaymond commented on #133
on the browser, this is the error:
![strftime_error_browser](https://user-images.githubusercontent.com/40905613/76842266-44ce8b00-683a-11ea-8598-e8ccb83fb86d.JPG)

the command line gives a more detailed error message:
![strftime_error_cmd](https://user-images.githubusercontent.com/40905613/76842318-5dd73c00-683a-11ea-87b1-d2a20a166c54.JPG)

[2020-03-17 11:09] NdibeRaymond commented on #21
@srish can I work on this task now since most of my PRs have been merged?

[2020-03-17 12:13] shivanigangadharan commented on #131
Okay got it. Will work on this the way you mentioned.
Thanks! :)

[2020-03-17 14:03] muskangupta-iitr commented on #122
@srish How should I proceed further on this issue as I have already worked on this on my local system. If you allow, I would make a PR and you can review and decide as to what needs to be changed or done with it further.

[2020-03-17 14:22] shivanigangadharan commented on #131
@srish I decreased the size of the blocks as you had mentioned, and it looks fine in the desktop view. But as the screen size decreases further it gets very cramped up. I observed GitHub too doesn't show all the blocks properly in smaller screens.
Now, I can either add a scrollbar (could be a vertical one for mobile view) or I could separate them into 2 rows each showing 6 months, using media quer

[2020-03-17 15:31] NdibeRaymond commented on #131
I think this issue is only observed in large laptop screens and tablets (I haven't tested for tablets so I base my judgement on the image @srish shared above). If so, I believe it'd be ok to look at how it was implemented in Android screens and use that to implement it for tablets. Horizontal scrolling will be bad.
Below is how it looks on my android:
![20200317-162845](https://user-images.githubu

[2020-03-17 17:12] shivanigangadharan commented on #131
Ahh. I think @srish might have first opened it in laptop mode and probably just decreased the screen size to see in mobile view. Whereas @NdibeRaymond might have viewed it directly in the mobile view.
Seems that the blocks are placed according to the **first** screen size they're opened in. Once you try to resize the screen, they won't adjust to the new screen width but stay put according to the p

[2020-03-17 19:35] srish commented on #139
@eeshadutta Thank you for working on this :)

[2020-03-17 19:35] #139 closed

[2020-03-17 19:43] srish commented on #68
@eeshadutta You can write something in your Sandbox first (it should be a subpage of your user page on meta-wiki). For example https://meta.wikimedia.org/wiki/User:SSethi_(WMF)/Sandbox (mine is empty though right now).
When you are done, I can review and, when satisfied, move over the changes to the main page.

[2020-03-17 22:33] muskangupta-iitr opened #142 "[error] FileNotFoundError if upload directory is not there"
I got a error when I added a `.csv` file:
![Screenshot from 2020-03-18 03-59-22](https://user-images.githubusercontent.com/50856599/76907714-f1f1e380-68cc-11ea-8fbe-f2ee11c50508.png)

This error occurs because I have not created the upload directory. After the creation of the directory, it works fine. There requires a condition which checks if upload exists or not.
[code]

@srish I would like to w

[2020-03-17 23:31] NdibeRaymond commented on #21
@srish since this seems like a dodgy bug, I would be needing your help reproducing it so I can work my way back from there. A link or name that leads to an occurrence of this issue would be really helpful

[2020-03-18 05:55] eeshadutta opened #143 "Better error messages"
Some of the error messages displayed are not very clear.

For example, when a csv file with a wrong format is uploaded, the error message displayed is - 'CSV file you have uploaded is not in the supported format. Click on the &#9432 to check the format(while uploading it)'
'&#9432' is not understandable by a user.

@srish I would like to work on this and fix the error messages for more readability

[2020-03-18 06:09] eeshadutta opened #144 "No check for non-existent username input"
The activity page still loads when an incorrect/non-existent username is provided for Gerrit/Phabricator fields on the homepage.

If there are Gerrit/Phabricator APIs that allow us to check if an account with a specific username exists or not, this issue could be addressed.

[2020-03-18 06:14] eeshadutta commented on #68
Sure @srish I shall do that and let you know once I have substantial work ready.

[2020-03-18 07:45] gotham3 commented on #102
Hi @srish
Kindly review my PR
https://github.com/wikimedia/WikiContrib/pull/145

[2020-03-18 08:29] NdibeRaymond commented on #144
I am currently researching this at #23 .
That being said, I believe the purpose of the tool is for a user to be able to access other people's contributions, therefore authentication before viewing contributions doesn't apply here, right @srish ?

[2020-03-18 15:10] eeshadutta commented on #68
Hi @srish I have written some documentation in my sandbox - https://meta.wikimedia.org/wiki/User:Eeshadutta/Sandbox
Please could you review it and let me know if any changes are needed.

PS: I wasn't able to upload images. I was getting the following error. This is a screenshot from the tool (similar to the one on the README in this repository)
![Error](https://user-images.githubusercontent.com/32

[2020-03-18 15:33] eeshadutta commented on #144
Since, this is more of a Research issue, hope its ok if I look it up as well, @srish

[2020-03-18 15:56] eeshadutta opened #147 "Auto Scroll to display activity when tile is clicked"
When a day with no contributions is clicked, the message 'username has no activity on this day. One needs to scroll down to be able to see this message and the font is lighter than the other texts on the page, making it easy to miss.
![css_error2](https://user-images.githubusercontent.com/32328812/76979603-2cf02780-695e-11ea-9a25-21dc580b37c4.jpeg)

Similarly, when a day with contributions is clic

[2020-03-18 15:56] eeshadutta commented on #147
@srish I would love to take this up!

[2020-03-18 18:10] salmabadawy7 commented on #147
hello I'm an Outreachy participate and I would like to work on this issue

[2020-03-18 18:12] eeshadutta commented on #147
hi @salmabadawy7 I am working on this currently.

[2020-03-18 18:15] salmabadawy7 commented on #143
hello I'm an Outreachy participate and I would like to work on this issue

[2020-03-18 18:37] salmabadawy7 commented on #147
ok

‫في الأربعاء، 18 مارس 2020 في 8:12 م تمت كتابة ما يلي بواسطة ‪Eesha Dutta‬‏
<‪notifications@github.com‬‏>:‬

[2020-03-19 00:03] srish commented on #122
@muskangupta-iitr Okay, please send a PR. I will take a look.

[2020-03-19 00:18] srish commented on #131
@shivanigangadharan Yes, you are right! I opened it in laptop mode and then reduced the screen size. The block appears nicely on my phone, like in @NdibeRaymond's screenshot.
So, yes, your judgment is right there to fix the issue for laptop & tablet mode. Do not add scrolling if possible; it won't look good.  If you can, it would be nice to investigate if there is another way to place blocks and n

[2020-03-19 00:30] srish commented on #133
Thank you @NdibeRaymond for this fix :) This may have fix that complex bug already, I've a feeling, we can check/debug that later.

[2020-03-19 00:30] #133 closed

[2020-03-19 00:59] srish commented on #142
@muskangupta-iitr could you share the exact steps to reproduce this issue? I don't seem to be able to reproduce it on my end.

[2020-03-19 01:18] NdibeRaymond commented on #142
This happens when a user forgets to create upload folder in root directory during setup

[2020-03-19 01:26] NdibeRaymond commented on #133
@srish I don't think so. On Linux servers (I believe this project is hosted on Linux), the behavior remains unchanged from what it was prior to this PR. This PR deals mainly with any server machine that doesn't support strftime("%s") eg windows, so as to allow contributors running Windows to contribute successfully. So on Linux machines, strftime("%s") is still used, meaning no difference from wha

[2020-03-19 01:46] srish commented on #144
@eeshadutta @NdibeRaymond That's correct! Authentication would add complexity to this project and not needed. Feel free to research/ add any findings in the issue (23) linked above.

[2020-03-19 03:18] eeshadutta commented on #23
@srish when a wrong username for Gerrit or Phabricator is provided (one that doesn't exist), the activity page still loads. Is this the expected behavior?

[2020-03-19 03:18] eeshadutta commented on #144
@srish  when a wrong username for Gerrit or Phabricator is provided (one that doesn't exist), the activity page still loads. Is this the expected behavior?

[2020-03-19 04:25] NdibeRaymond commented on #23
@srish there seems to be no APIs that can handle this edge case. Even if we retrieve the full names from gerrit and Phabricator, there is no guarantee that the user will use the same fullname in the same order.
One thing that can be done here is fuzzy matching, where the result of checking whether the usernames belong to the same user will return a percentage value instead of direct true or false

[2020-03-19 05:20] muskangupta-iitr commented on #142
@srish When upload directory is not present and user try upload any csv file.

@NdibeRaymond We can update the documentation but I think automation will be good.

[2020-03-19 10:52] harshika18 opened #149 "Wrong time range"
When we specify the time range using filter like "Last 6 months" it should generate the graph by taking data from previous 6 months. But it generate a random time period from November 2020 to February 2020 which is actually not even a possible time range. May be it will be problematic when we need to change the year to see data of last few months.
![wiki1](https://user-images.githubusercontent.com

[2020-03-19 10:53] harshika18 commented on #149
I am an outreachy aspirant, I would like to work on this issue. Can I?

[2020-03-19 11:04] harshika18 opened #150 "Month selection column not working properly"
While using filter, when we select the month from the drop-down, it select the wrong month what we actually selected. In the attached picture I actually select January 2020, but December 2019 is selected.
![wiki2](https://user-images.githubusercontent.com/44746365/77060896-557c2e00-69ff-11ea-9a50-c1262e8cbd5f.png)

[2020-03-19 11:04] harshika18 commented on #150
I would like to work on this issue.

[2020-03-19 13:48] eeshadutta commented on #149
Hey @harshika18 I think this issue is the same as the one in #98 (also #123 ). Issue #102  is also related to this.

[2020-03-19 14:45] NdibeRaymond commented on #150
This issue is a duplicate of #123

[2020-03-19 15:24] NdibeRaymond commented on #58
Since we are already making use of asyncio to fetch user commits asynchronously, I don't see a reason why we can't fetch the data of several users asynchronously too. Though the asyncio part of the codebase is a bit complicated, I think I am getting the hang of it. Currently experimenting on a way to achieve this. If it works, i think it will reduce total request time to by more than 80% or someth

[2020-03-19 19:58] jencwong commented on #60
@eeshadutta yes I am. I will make a pr request soon.

[2020-03-19 20:44] NdibeRaymond commented on #21
@srish, based on the syntaxes I see in the backend code, I have reason to believe we are running python 3.5 in production. if so, your initial assertion that pull request #135 might have fixed this issue might be worth testing

[2020-03-19 22:00] muskangupta-iitr commented on #122
@srish Done :+1:

[2020-03-20 06:11] srish commented on #61
Thanks a lot @yaeluria for working in this! :)

[2020-03-20 06:11] #61 closed

[2020-03-20 06:15] srish commented on #102
Thanks a lot @gotham3 for your work on this! :)

[2020-03-20 07:05] srish commented on #68
@eeshadutta I've made some copyedits in your Sandbox. Here are a few items that are remaining I think:

I'm not sure why you receiving the error while trying to upload the image/screenshot. What is main.jpeg? Did you download it from somewhere or is it the image/screenshot you took? Also, maybe try to upload it first on Wikimedia Commons and read some guidelines here first to do so: https://common

[2020-03-20 07:30] srish commented on #102
@gotham3 This PR was causing an error, so I had to revert it. Here is the error:

[code]
Would it be possible for you to send a new PR with updated changes?

[2020-03-20 07:41] gotham3 commented on #102
@srish Done ma'am! https://github.com/wikimedia/WikiContrib/pull/153

[2020-03-20 08:42] eeshadutta commented on #68
@srish thanks for the review! I will work on the remaining sections.
 main.jpeg is a screenshot I took to show the working of the tool. I'll try uploading it through Wikimedia commons.

[2020-03-20 10:12] NdibeRaymond commented on #58
**UPDATE**
I have been looking at the perceval tool and it looks like something that has all the potentials to solve all the major problems we are facing here. Is there a reason we can't use this?

[2020-03-20 13:00] yaeluria commented on #61
hey @srish, I haven't finished the backend part of this issue yet. Perhaps it's better to leave it open for now.

[2020-03-20 15:58] eeshadutta commented on #68
@srish I have made the required changes : https://meta.wikimedia.org/wiki/User:Eeshadutta/Sandbox. The subpage is here: https://meta.wikimedia.org/wiki/WikiContrib/TechnicalDetails
I have linked the subpage in the 'See Also' section.
Please review. Thanks!

[2020-03-20 21:49] NdibeRaymond commented on #58
**UPDATE**
The fact that internet speed varies around the globe and that servers speed are on a different level entirely compared to private user's internet speed makes it a bit more difficult to answer question of the time taken to fetch a single users data, and the time it would take to get user data for 20 - 30 users, since it all depends partly on the internet speed of the system making the AP

[2020-03-20 23:37] NdibeRaymond commented on #110
I made the mistake of posting my findings on the parent issue. So I'd be copying it over to this place now

[2020-03-20 23:37] NdibeRaymond commented on #110
Since we are already making use of asyncio to fetch user commits asynchronously, I don't see a reason why we can't fetch the data of several users asynchronously too. Though the asyncio part of the codebase is a bit complicated, I think I am getting the hang of it. Currently experimenting on a way to achieve this. If it works, i think it will reduce total request time to by more than 80% or someth

[2020-03-20 23:40] NdibeRaymond commented on #110
**UPDATE**
I have been looking at the perceval tool and it looks like something that has all the potentials to solve all the major problems we are facing here. Is there a reason we can't use this @srish , @tuxology , @rammanoj ?
Currently I am trying to gather as much information as I can. Will try using perceval soon then give my report.
**Link**:(https://chaoss.github.io/grimoirelab-tutorial/per

[2020-03-20 23:41] NdibeRaymond commented on #110
**UPDATE**
The fact that internet speed varies around the globe and that servers speed are on a different level entirely compared to private user's internet speed makes it a bit more difficult to answer the question of the time taken to fetch a single users data, and the time it would take to get user data for 20 - 30 users, since it all depends partly on the internet speed of the system making th

[2020-03-21 00:24] NdibeRaymond commented on #110
**Update**
It appears one major problem we are having is with API rate limits.
while testing the concurrent user data fetching I implemented ( Yet to push the research PR), I noticed that there are costs associated to making rapid API calls especially with Phabricator conduit API. For example, making three concurrent API requests to fetch information about three different users will take varying a

[2020-03-21 04:42] srish commented on #147
@eeshadutta Based on my comment here: https://github.com/wikimedia/WikiContrib/pull/151#issuecomment-601993763, would it be possible for you to modify the task title and description accordingly?

[2020-03-21 04:48] srish commented on #144
@eeshadutta That's a great question, and it is not the expected behavior. But, I am not sure if there are Gerrit/Phabricator APIs that allow us to check if an account with a specific username exists or not. Still, this is a separate issue and not related to authentication, and we don't need the later.

[2020-03-21 05:24] srish commented on #23
@NdibeRaymond Hmm! Can you give me an example for the percentage approach? I don't think I fully understand this.

[2020-03-21 05:35] srish commented on #142
@muskangupta-iitr You can send a PR with the condition check and documentation changes (though I'm trying to find this upload folder in my root, but I can't and upload seems to work fine for me).

[2020-03-21 05:48] srish commented on #150
(closing this as a duplicate of existing issue)

[2020-03-21 05:48] #150 closed

[2020-03-21 05:49] srish commented on #149
(thanks @harshika18 for filing this issue. But, it seems like a duplicate of existing ones as @eeshadutta mentioned)

[2020-03-21 05:49] #149 closed

[2020-03-21 06:43] eeshadutta commented on #144
@srish should I file an issue regarding this ' when a wrong username for Gerrit or Phabricator is provided (one that doesn't exist), the activity page still loads'? And we can explore it separately?

[2020-03-21 09:32] NdibeRaymond commented on #23
Ok. Here is how it can be done.
 * First, a user submits fullname,
   garrit_username and Phab_username.
 * We check if there is a user with the
   submitted usernames for gerrit and phab
   and if so, return the users fullname from
   both gerrit and phab. If the usernames
   doesn't exist, we can't take action (maybe
    return error message)
 * When the user full names are returned
    from ger

[2020-03-21 16:08] harshika18 commented on #102
@gotham3 I tried your PR but it showed wrong range in some cases like the one shown below. The range here should be December 2018 but it shows December 2019.
![wiki_pull_error](https://user-images.githubusercontent.com/44746365/77230711-1f37dd80-6bbc-11ea-9b72-6f24d3ac9d54.png)

[2020-03-21 16:10] harshika18 commented on #102
@srish I try to correct that case [#153](https://github.com/wikimedia/WikiContrib/pull/153)

[2020-03-21 16:12] harshika18 commented on #102
@srish I try to correct that case [#157](https://github.com/wikimedia/WikiContrib/pull/157)
![wiki_my_graph](https://user-images.githubusercontent.com/44746365/77230797-d7658600-6bbc-11ea-9ba4-00e84d2ffaab.png)

[2020-03-21 17:37] harshika18 commented on #102
It will be more appropriate if the graphs should also show the data of the specified range.
@srish can I work on this issue?

[2020-03-22 14:06] yaeluria commented on #61
Actually, I'd need the changes from issue #60 before I can finish working on the backend so I'll wait first until they are pushed and merged.

[2020-03-22 14:17] harshika18 opened #160 "Display Total contributions"
[suggestion]
When we give a time range in the query we got the graph of the given range. But it will be more informative for the user if we display the total number of contributions per month or can give the overall contributions. We can have it like this:
![total](https://user-images.githubusercontent.com/44746365/77251647-8d8ca680-6c75-11ea-8ddc-46c86ad30a0b.png)

[2020-03-22 14:23] harshika18 commented on #160
I am an outreachy aspirant. If this feature is useful shall is start working on it?

[2020-03-22 18:31] #160 closed

[2020-03-23 09:53] shivanigangadharan commented on #131
Fixed it for the laptop view, the tablet view was working fine previously as well. I avoided the scrolling and used media query to change the width. I am yet to fix the auto-resize of blocks but hope this much looks good for now. Will update on that too asap. Thanks for all your suggestions @srish and @NdibeRaymond 😄

[2020-03-23 10:59] shivanigangadharan opened #163 "Status of contribution overflowing in mobile-view"
The list of activities or contribution of a day is displayed as several cards. Now, the status of the contribution tends to overflow the card in the mobile view, as shown in the image below.

![image](https://user-images.githubusercontent.com/30795425/77309853-5d9bdc80-6d23-11ea-97c1-609a29cd50b7.png)

[2020-03-23 11:02] shivanigangadharan commented on #163
@srish and @rammanoj I have almost fixed this issue, changed the flex-directions to column and gave some margin for mobile view using media query. Here's how it would look:

![image](https://user-images.githubusercontent.com/30795425/77310031-a2277800-6d23-11ea-8935-41bf58274882.png)

Let me know if that looks good, I'll send the pull request immediately. Thanks! :)

[2020-03-23 16:34] NdibeRaymond commented on #163
Responsiveness on mobile device was fixed in pr #120 . Open the site on your mobile device. Laptop browser devtool emulator is not enough

[2020-03-23 19:18] shivanigangadharan commented on #163
Oh, I missed this one, my apologies. Thanks for pointing it out @NdibeRaymond , closing this issue.

[2020-03-23 19:18] #163 closed

[2020-03-24 01:19] #143 closed

[2020-03-24 01:52] #122 closed

[2020-03-24 01:52] srish commented on #122
@muskangupta-iitr Thank you for the PR! The changes looked good :)

[2020-03-24 02:24] srish commented on #102
@gotham3 thank you for your changes! @harshika18 let's chat in 157.

[2020-03-24 02:34] srish commented on #144
@eeshadutta You can modify this task (title+desc) itself accordingly.

[2020-03-24 02:36] #142 closed

[2020-03-24 02:36] srish commented on #142
Thank you @muskangupta-iitr :)

[2020-03-24 02:45] srish commented on #130
@NdibeRaymond Thank you for working on this.. while merging it I was wondering though if there should be a mechanism to detect if app is in development or production mode and then we use the `BASE_API_URL` accordingly. What you think?
(closing this issue for now)

[2020-03-24 02:45] #130 closed

[2020-03-24 02:51] NdibeRaymond commented on #130
@srish that's actually very thoughtful. I will file an issue for it

[2020-03-24 03:10] NdibeRaymond opened #165 "Automate backend URL selection based on environment"
**Problem**
Currently, a contributor still has to manually select URL to use to connect to the backend based on whether it's development or production environment. And if a contributor forgets to reverse that change back to production environment URL before pushing, and if the changes were to be merged, it will break the application in production!!

**Solution**
Programmatically check whether we a

[2020-03-24 03:11] NdibeRaymond commented on #165
@srish  let me fix this

[2020-03-24 11:57] NdibeRaymond opened #166 "Site is breaking!! 404 not found"
![IMG_20200324_124314](https://user-images.githubusercontent.com/40905613/77423077-e1f76980-6dce-11ea-9bbb-5211853ea546.jpg)

It's possible this is as a result of recent merges. If it's not, then I'd love to look into it.
Can someone else please confirm this as well @srish ?

[2020-03-24 18:04] eeshadutta commented on #147
@srish done. I will modify PR #151 to account for this.

[2020-03-24 18:08] eeshadutta commented on #144
@srish made the necessary changes

[2020-03-24 18:16] eeshadutta opened #168 "Increase the width of the activity boxes to align it with the one above"
The appearance of the activity boxes which are displayed when the user clicks on a particular day can be modified.
![Screenshot from 2020-03-24 23-41-59](https://user-images.githubusercontent.com/32328812/77462014-77274c00-6e29-11ea-9cbe-6fb7f1a9cbfa.png)

1) The heading 'XYZ's activity on date' is in very small font which can be changed.
2) The boxes aren't aligned/centered appropriately. The wid

[2020-03-24 18:28] eeshadutta opened #169 "Summary of activity"
While we are displaying graphs for the activity, we could also display some cards giving an overview of the overall activity at a glance, something similar to the top 4 cards in the below dashboard which could display the total contributions to Gerrit and Phabricator for the given time duration.
![total_activity](https://user-images.githubusercontent.com/32328812/77463065-08e38900-6e2b-11ea-9ca4-2

[2020-03-24 22:47] srish commented on #166
@NdibeRaymond thanks for reporting this! @rammanoj The site is up again! I didn't do anything, except that I made some test commits directly into master to investigate a recent PR that I had a doubt on. I think this probably triggered travis and the site is back up again now.

Though, we are getting the same travis error now as with some previous commits: https://github.com/wikimedia/WikiContrib/c

[2020-03-24 23:35] srish commented on #166
I spoke too soon I think, I noticed the site going down again quite late. I confirm that the changes in https://github.com/wikimedia/WikiContrib/issues/122 are causing a 404 though they are working fine for me locally so I've reverted them for now:
https://github.com/wikimedia/WikiContrib/commit/952d888d8716ead57fda53e440184076dc8eeaec

(if anyone wants to fix that, you can modify the title and de

[2020-03-25 00:13] NdibeRaymond commented on #166
I did a bit of research on this and found that this is a problem with the react-loable package. it is no longer maintained and doesn't work well with webpack version 4+
I can reimplement the code splitting with the official react recommended way

[2020-03-25 00:34] NdibeRaymond commented on #123
@srish it seems this issue is not related to #102 as the problem still persists even after #102 has been merged

[2020-03-25 00:47] srish commented on #98
(closing this as a possible duplicate of 123; can be re-opened if the need arises)

[2020-03-25 00:47] #98 closed

[2020-03-25 00:49] NdibeRaymond commented on #124
@srish it seems this issue is not related to #102 as the problem still persists even after #102 has been merged.
Can this be assigned to me so I can look into it ?

[2020-03-25 01:38] srish commented on #68
@eeshadutta Hi! I am taking a quick look at your page. Suggesting a few changes:
* Add only one screenshot (put a thumbnail border to it with a title), probably this one https://commons.wikimedia.org/wiki/File:Visualize1.jpg. It should be placed on the right side and the size of the image should be small. Looking at the image, the quality seems bad. You should take a new screenshot and save it in

[2020-03-25 01:40] #165 closed

[2020-03-25 14:42] eeshadutta commented on #68
@srish done!

[2020-03-26 01:36] jencwong opened #174 "Backend Error"
I got this error message when I tried to run the WikiContrib localhost on my browser.

I got to the landing page fine, but when I entered the user's name, Gerrit's account and Phabricators account and clicked search, I got the error message (attached), and the browser kept on trying to load without rendering anything.
![Screen Shot 2020-03-25 at 3 08 21 PM](https://user-images.githubusercontent.co

[2020-03-26 01:43] NdibeRaymond commented on #174
I'd like to look into this error @srish

[2020-03-26 01:50] NdibeRaymond commented on #174
Hey @jencwong , can you share details on how to reproduce this?
Your OS, the usernames you where searching for, etc.
Also, have you tried switching to the master branch (if you are not already on it)?

[2020-03-26 01:57] jencwong commented on #174
@NdibeRaymond  I responded to you with a private message.

[2020-03-26 02:16] NdibeRaymond commented on #174
Looking at your error trace, one can conclude that the request is returning None for phab related operations. I think this has something to do with your api_key

[2020-03-26 02:17] NdibeRaymond commented on #174
Go to your .env file, if the values there is this,
PHAB_KEY=api-xxxxyyyyzzzz
Then you need your own API key. Go to install.md file and follow the instruction there to find out how to get yours

[2020-03-26 02:26] #174 closed

[2020-03-26 05:43] srish commented on #174
Thank you @NdibeRaymond for helping @jencwong resolve this issue :)

[2020-03-26 13:58] jencwong commented on #60
@srish I made a PR to address this issue.

[2020-03-26 22:12] NdibeRaymond commented on #144
@srish are we allowed to work on issues already assigned to another person? because this issue is part of what was detailed in #23 and has been assigned to me. I've also submitted a PR detailing my findings and waiting for your approval to go on and implement it

[2020-03-27 01:32] srish commented on #144
@NdibeRaymond I haven't assigned this issue to anyone yet! But, I do think that issue 23 is more about researching whether or not the input fields provided are linked to the same person or not. While, this issue is about checking whether or not username provided for Gerrit or Phabricator exists or not. Hope this makes sense!

[2020-03-27 01:38] NdibeRaymond commented on #144
@srish ?
![IMG_20200327_023718](https://user-images.githubusercontent.com/40905613/77712445-14be7f00-6fd4-11ea-850f-ee16cacf230a.jpg)
![IMG_20200327_023757](https://user-images.githubusercontent.com/40905613/77712447-16884280-6fd4-11ea-9835-903bed870308.jpg)

[2020-03-27 01:43] srish commented on #144
@NdibeRaymond Oops! My bad.. I'm sorry. I confused 23 with another issue :-/

(closing this as a possible duplicate)

[2020-03-27 01:43] #144 closed

[2020-03-27 03:41] muskangupta-iitr commented on #166
@srish I would like to give it a chance before it is assigned to someone else. I request you to please let me try fixing it once. :)

[2020-03-27 11:15] shivanigangadharan opened #176 "Add Meta page and Github repo link on the website"
The idea is to build a footer for the website. Below are the specifications that I propose:

-  GitHub link of WikiContrib

- Documentation link of WikiContrib

- Link to guidelines for making contributions

We can also have a header or a navigation bar containing different menu options adding to the functionality of the website, but primary focus is the footer for now.

Any suggestions, design id

[2020-03-27 13:05] shivanigangadharan commented on #176
@srish I would love to work on this if you permit.

[2020-03-27 19:24] srish commented on #176
@shivanigangadharan Thanks for filing this. I think that a footer may not look good without the header :) And, the minimal design that we have right now is serving the needs well.

Though what might be helpful is adding a link to the Meta page and Github repository. So, this task could perhaps be about that.

[2020-03-27 19:33] srish commented on #68
@eeshadutta Just made small edits, you can now move your changes from https://meta.wikimedia.org/wiki/User:Eeshadutta/Sandbox to https://meta.wikimedia.org/wiki/WikiContrib. Thank you :)

[2020-03-28 12:33] eeshadutta commented on #68
@srish I have edited https://meta.wikimedia.org/wiki/WikiContrib as mentioned.

[2020-03-28 12:47] eeshadutta commented on #169
@srish Could I work on this?

[2020-03-28 14:11] harshika18 opened #178 "Wrong contribution chart"
When we look at december, it contain contributions but if we select 3 month time range it shows zero contribution.
![Screenshot from 2020-03-28 19-34-43](https://user-images.githubusercontent.com/44746365/77824920-fcfa0e80-712b-11ea-99a5-aacd1d34d95d.png)
![Screenshot from 2020-03-28 19-35-58](https://user-images.githubusercontent.com/44746365/77824922-fec3d200-712b-11ea-9fcf-05e048951129.png)

[2020-03-29 05:29] muskangupta-iitr commented on #166
@NdibeRaymond Can you help me reproducing the error your are getting? Also, just want to mention I implemented the code using official react docs only but yes `react-loadable` is no longer maintained by anyone instead of that `React.lazy()` is being used. I will update that change.

[2020-03-29 08:30] rammanoj commented on #110
@NdibeRaymond Caching does not solve the issue. It may solve one issue but it raises many other ones... I see your comments and are you sure that the API requests are truely failing ?

When I am developing this app, I made requests till upto 5 users. It is taking much time but I think there is no limit of how many requests you can make. Please correct me if I am wrong. It may take a while because

[2020-03-29 08:48] rammanoj commented on #166
Hello all,
This is not any problem with the app. If any PR got merged or any commit made in the app, the travis-ci pulls the changes from github and updates the server with the latest commits. It restarts the server. It takes some time for the server to restart. So, whoever tries to make a request to this site during this time, the site may show you a 404 response. If travis CI fails with any erro

[2020-03-29 08:56] rammanoj commented on #136
@muskangupta-iitr I don't think there is any need of this change as the admin pannel can be only accessed by me or @srish. As far as I remember there is only a single admin user currently and there is no need to have more ones. This can be said as out of project scope.

You can make a PR and prevent changing the query names. But we can even access databases of the app. So, we can even change there

[2020-03-29 08:56] #136 closed

[2020-03-29 09:21] rammanoj commented on #122
Thanks for the change @muskangupta-iitr. I see improvement in results from the PR.

[2020-03-29 09:23] rammanoj commented on #130
Thanks for the change @NdibeRaymond and also for finding it. I missed it in the docs unfortunately.

[2020-03-29 09:27] NdibeRaymond commented on #110
I didn't say they are failing @rammanoj . I said that there is a kind of rate limit. What I mean by limit is this:
If we assume that retrieving a users data takes 2seconds, it will be fair to assume fetching 2 users data will take the same 2seconds if done concurrently, and fetching 20 users data will still take the same 2seconds since it is concurrent. But experiment proves otherwise. What I foun

[2020-03-29 09:33] NdibeRaymond commented on #166
This happened after a certain PR was merged. And it shouldn't have taken more than a day to build if it was was just build running. The only changes made after the issue is to reverse the PR

[2020-03-29 09:38] rammanoj commented on #131
@shivanigangadharan Are you really able to reproduce the above issue. I don't think there will be a issue in any device except the large screens (maybe). I have written the code in such a way that the page refreshes according to the screen size. If you are on laptop and trying to test it by decreasing the size of browser. Can you refresh the page when you go ot the desired measurements and see ?

[2020-03-29 10:21] NdibeRaymond commented on #23
Hello @rammanoj  and @srish , I proposed a way to handle this issue here #159 . Is it possible to review this approach and give feedback?

[2020-03-29 11:02] shivanigangadharan commented on #131
You're absolutely right like I mentioned above the blocks are perfect when we refresh the page after resizing. So if a user directly views it from their mobile, there won't be this issue.
Other than that, yes, the blocks overflowed in large screen (laptop) so I fixed that in PR #162
Let me know if there's anything left to work in this issue @srish @rammanoj Thanks! :)

[2020-03-29 11:19] shivanigangadharan commented on #176
Ahh, got it. Sounds good to me. So what would you suggest, should I add the Meta page and GitHub repo link on a small header on top of the page, or in the hover content of the 'i' icon next to the docs button?

[2020-03-29 17:00] harshika18 opened #180 "Go to top button"
When we view the contributions, we may have a large list of contributions which will lead us to the bottom of the page. So we can have a "Top button" which will directly take the user to the top of the page. Something like this:
![Screenshot from 2020-03-29 22-26-28](https://user-images.githubusercontent.com/44746365/77855247-ca741280-720c-11ea-8d0f-23ae4b2b7041.png)

[2020-03-29 17:03] harshika18 commented on #180
I want to work on this suggestion. Can I @srish ?

[2020-03-29 21:25] harshika18 opened #182 "Active tab depending on the topic"
When you scroll down in the usage doc the active tab should also change based on the topic displayed on the screen. Like the topic displayed on the screen is "Viewing / Updating filters" while the active tab in list of topics in the left of the screen is "Intro to Queries"
![Screenshot from 2020-03-30 02-49-21](https://user-images.githubusercontent.com/44746365/77861326-d7572d00-7231-11ea-9a8b-96e

[2020-03-29 21:28] harshika18 commented on #182
@srish I would love to take this up

[2020-03-30 06:26] srish commented on #178
@harshika18 Thanks for filing this! I am closing this issue as a possible duplicate of some of the existing issues we have around incorrect time range unless you feel strongly that it is not the case.

[2020-03-30 06:26] #178 closed

[2020-03-30 06:39] srish commented on #166
@rammanoj I reversed the PR in https://github.com/wikimedia/WikiContrib/commit/952d888d8716ead57fda53e440184076dc8eeaec after we got the 404 error with the code splitting changes (in the lieu ended up making some test commits on March 24th https://github.com/wikimedia/WikiContrib/commits/master). The error was showing for a really long time, so my sense was that it has something to do with the cod

[2020-03-30 20:33] muskangupta-iitr commented on #136
@rammanoj Yes, you just have to create a admin model and add that field in read_only. Ohk! I will try to improve the performance.

[2020-03-31 09:22] pavithraes opened #184 "Browser back button doesn't direct to WikiContrib landing page"
The browser back button, when clicked from "User's Activity" page doesn't direct to the WikiContrib home page.

![wikicontrib-screencast](https://user-images.githubusercontent.com/33131404/78009037-108cbb80-735e-11ea-8cb8-83e325c79c77.gif)

[2020-04-03 06:24] srish commented on #23
@NdibeRaymond left a note here https://github.com/wikimedia/WikiContrib/pull/159#issuecomment-608252457

[2020-04-03 06:30] #68 closed

[2020-04-04 01:29] srish commented on #58
@NdibeRaymond Thank you for documenting the research you did to understand what will be the pros and cons of using two different approaches. It might help as and when we move forward on implementing the list view.

(I'm resetting the priority of this task to low, as we will put our focus
 on https://github.com/wikimedia/WikiContrib#planned-features for now)

[2020-04-04 01:31] srish commented on #110
@NdibeRaymond You may close this now if there isn't anything remaining to be done here.

[2020-04-04 09:14] #110 closed

[2020-04-05 01:01] #131 closed

[2020-04-07 05:14] rammanoj commented on #102
This is the one of the major issues the app was facing in december. I will just enquire correctly if this is fixed. Outreachy students, please don't submit any more PR. I also need to check if #157 is correct PR for it. Afair the impact of this bug has to be large on code. Let me test it. I will get back to you on this PR by this weekend (mostly).

[2020-04-07 08:27] NdibeRaymond commented on #102
@rammanoj , #172 is concerned with displaying time range correctly and doesn't fix this issue. PR #177 along with fixing the issue of filters jumping one Month ahead, also fixes this issue

[2020-04-11 16:01] jencwong commented on #60
@srish Thank you for approving the PR.  Since the PR is closed, is there anything else related to this issue that is still open?  Thank you!

[2020-04-13 11:58] shivanigangadharan commented on #184
@pavithraes Can I work on this issue, please?

[2020-04-13 12:21] #166 closed

[2020-04-15 03:59] NdibeRaymond commented on #102
@srish can this be assigned to me?

[2020-04-17 04:15] #168 closed

[2020-04-17 04:30] #60 closed

[2020-04-17 04:32] srish commented on #168
Thank you @eeshadutta for your work on this :)

[2020-04-17 04:35] srish commented on #102
@NdibeRaymond See https://github.com/wikimedia/WikiContrib/issues/102#issuecomment-610178021.

[2020-04-17 08:39] NdibeRaymond commented on #102
@srish , the PR I submitted that potentially fixed this bug #117 was submitted on 28th last month, it hasn't been tested, and #172 doesn't seem to fix it

[2020-04-27 04:13] rammanoj commented on #184
@pavithraes I guess we can extend this issue. I mean the current issue you report might not solve the issue with back button completely. You can refer https://github.com/wikimedia/WikiContrib/pull/188#issuecomment-619703689

[2020-04-27 15:32] pavithraes commented on #184
@rammanoj Yes, extending seems fair. :)

[2020-05-19 00:30] NdibeRaymond commented on #184
@rammanoj is it possible that this is a browser-specific problem? I can't seem to reproduce this on my chrome

[2020-05-19 00:42] NdibeRaymond opened #190 "can't return to result page once you navigate away"
**How to Reproduce**
- Visit the tool
- Search for a user's contribution
- copy the query id then navigate away (either with the nav button or to a different domain)
- now try navigating back to the result page

**Expected Result**
It is supposed to be possible to return back to the result page even after you have navigated away

**Actual Result**
You can't get back to the result page again once y

[2020-05-19 00:45] NdibeRaymond commented on #190
@srish I have a reason to believe this is bug that comes with PR #184, because if you comment line 11 of activity.js, this issue no longer occurs. That line was added by PR #184

[2020-05-20 02:57] rammanoj commented on #190
If this happens because of that change, lets undo it.

[2020-05-20 03:50] NdibeRaymond commented on #190
@rammanoj I think so too. Maybe we undo the commit and check again

[2020-05-26 11:18] NdibeRaymond commented on #190
@rammanoj and @srish this is still a problem

[2020-06-11 01:19] srish opened #196 "New modules do not get automatically installed on the server."
Every time a new module is used in a code that gets merged, an error like the one below shows up:

<img width="671" alt="Screen Shot 2020-06-09 at 10 26 15 PM" src="https://user-images.githubusercontent.com/288353/84333849-bbcba500-ab45-11ea-8e43-29f283abf0a5.png">
New modules do not get automatically installed on the server. Probably, `pip install - r requirements.txt` needs to be added before re

[2020-06-11 01:47] srish opened #197 "Make improvements to the "incorrect usernames" warning dialog"
I think the warning dialog needs improvements in two areas:

**Design**

Current design:
<img width="1032" alt="Screen Shot 2020-06-10 at 6 20 42 PM" src="https://user-images.githubusercontent.com/288353/84335565-fb948b80-ab49-11ea-8f46-99e8b3acbafd.png">

Desired design (with content changes):
<img width="504" alt="Screen Shot 2020-06-10 at 6 40 31 PM" src="https://user-images.githubusercontent.c

[2020-06-11 02:20] NdibeRaymond commented on #197
@srish I would like to say something about positioning. It is actually by design that it is so. we needed to account for when a user provides more than 1 user details (like in csv and multiple forms). Putting the dialog on the query page will mean the warning can't be personalized per user detail like it is currently being done. Currently, if you submit multiple user details and three of the detai

[2020-06-12 02:22] srish commented on #197
@NdibeRaymond Ahha, I see. I got it now. So my few cents on this:
* We should add the username details as well in the warning box to highlight that warning belongs to which user.
* If someone doesn't want to proceed, how can they go back to the form and update it. Maybe hitting on the "No" button should take them to the form? But, probably, we have fetched results correctly at this point for other

[2020-06-16 18:27] NdibeRaymond commented on #23
@srish , I believe since this issue has been fixed, we should close it. Any thoughts?

[2020-06-17 23:42] #23 closed

[2020-06-19 04:36] rammanoj opened #199 "docker setup breaking on merging #198"
The dockerized setup to host the locally is breaking with ```KeyError: 'GITHUB_ACCESS_TOKEN'``` on merging #198.
For more info visit https://github.com/wikimedia/WikiContrib/pull/198#pullrequestreview-432813187

[2020-06-22 17:15] #184 closed

[2020-06-22 17:45] NdibeRaymond commented on #190
closing this issue now because it has been fixed

[2020-06-22 17:46] #190 closed

[2020-06-22 17:54] NdibeRaymond commented on #124
closing this issue because it was created under the wrong assumption that the behavior observed was an issue. It wasn't

[2020-06-22 17:54] #124 closed

[2020-06-24 19:14] NdibeRaymond commented on #182
@srish and @rammanoj , is this like the default behavior of readthedocs.io ?
if it is then I think we need to close this PR as it is not directly related to Wikicontrib code and not something we have under our control

[2020-06-24 19:28] NdibeRaymond commented on #169
@srish and @rammanoj , what are your takes on this issue?

[2020-06-24 19:36] NdibeRaymond commented on #176
@srish what is your take on this issue?

[2020-06-25 04:47] rammanoj commented on #123
Thanks for working on this @NdibeRaymond

[2020-06-25 06:30] srish opened #201 "Empty chart container when username missing"
It is probably a design question if we should or shouldn't show the activity card/ chart container when a username is missing.

[2020-06-25 06:37] srish opened #202 "Rapidfuzz logic considers an empty username field too."
If you do not provide an account username on the main page, for example, let say the query is: Srishti Sethi, SrishtiSethi, "", then the `rapidfuzz` score turns out to be low as it is considering in its calculation the empty username field as well. For the query above, I do not expect any warnings, as both the full name and the username seem to belong to the same person.

[2020-06-25 06:44] srish opened #203 "Activity boxes appear in different sizes for different dates"
Activity boxes that appear as and when a green color box gets clicked on the "Total Contributions" container all appear in different sizes for different dates. Probably, they should all be of the same size, and `.activity_wrapper`'s width should be 100%, but maybe there is more to it.
<img width="928" alt="Screen Shot 2020-06-24 at 11 42 05 PM" src="https://user-images.githubusercontent.com/288353

[2020-06-25 06:54] srish opened #204 "Disable the list view feature"
I think that the list view feature will be expensive going forward with integrations such as Github. I think that the list view feature adds complexity is many ways, and that the WikiContrib tool should first try to get attention from users individually. If there is a strong need identified to view contributions of a list of users at once, this feature can be brought back. We don't need to obliter

[2020-06-25 06:56] srish commented on #197
After playing around with the tool recently, I feel that the dialog should be on the homepage itself (from UX perspective). Also, see my comment in #204, and so once we disable the list view, it shouldn't be a problem showcasing it on the homepage.

[2020-06-25 06:58] #182 closed

[2020-06-25 07:05] srish commented on #169
The WikiContrib tool started with an idea to have something super simple for individual users (as there is Wikimedia Bitergia already, but that is more for Wikimedia community managers/administrators). So, I would be hesitant to add more design elements and features like the one proposed in this task. Closing this task for now.

[2020-06-25 07:05] #169 closed

[2020-06-25 07:08] srish commented on #176
@NdibeRaymond I imagine something like the footer here on https://pageviews.toolforge.org/?project=en.wikipedia.org&platform=all-access&agent=user&redirects=0&range=latest-20&pages=Cat|Dog for WikiContrib. It should be minimalistic, see the last line with FAQ, Report Source, etc. on the link I've shared.

[2020-06-25 07:12] srish commented on #58
I am closing this issue for now especially as we have #204 now.

[2020-06-25 07:12] #58 closed

[2020-06-25 07:13] srish commented on #117
Closing this task for now, as there isn't an immediate need, I see around this.

[2020-06-25 07:13] #117 closed

[2020-06-25 11:51] NdibeRaymond commented on #204
@srish , this is very thoughtful. @rammanoj how do you propose we handle this? should we create a PR that removes everything about this feature (we can always pull from an older branch that contains this feature if we later need to reimplement this) or should we create a PR that only disables it on the frontend but still leave the code on the backend (bearing in mind that this might cause confusio

[2020-06-25 13:15] NdibeRaymond commented on #176
Visted the link you shared @srish. It is awesome! I now understand what you mean. It would be nice to have something like that. and it is something we can implement during this internship

[2020-06-25 19:23] srish commented on #204
I think we should leave code as it is, and perhaps remove disable the "bulk add" button and comment the code that displays the user button for now. What say? And, then hovering on "bulk add" should give a message like: "this feature is currently disabled. if you want to know more about it, contact the devs."

[2020-06-26 23:13] #203 closed

[2020-06-26 23:31] #202 closed

[2020-06-26 23:35] NdibeRaymond commented on #201
@srish , we agreed to leave this issue until our meeting with Suchakra right?

[2020-06-26 23:49] srish commented on #201
@NdibeRaymond Yes!

[2020-06-27 13:25] #123 closed

[2020-06-27 13:27] #102 closed

[2020-07-01 15:38] #199 closed

[2020-07-01 15:40] #196 closed

[2020-07-02 17:18] #180 closed

[2020-07-05 13:41] NdibeRaymond opened #214 "Implement query result caching feature"
Giving the way Github API (and Phabricator) has very tight limit for the endpoint we are using (only 30 requests per minute for github), there is a need to implement a sort of caching mechanism so we don't make unnecessary requests to the various platform endpoints trying to re-fetch contributions we have already fetched that day.
The app as it is right now doesn't have this feature. The significa

[2020-07-07 22:02] #204 closed

[2020-07-07 22:14] srish commented on #21
Sharing a gif that shows that the issue exists still: ![Jul-07-2020 15-09-41](https://user-images.githubusercontent.com/288353/86849097-00befa80-c064-11ea-85a6-d3662030c3f3.gif)

[2020-07-13 20:08] NdibeRaymond opened #218 "Incomplete months in filter form field's months dropdown when filtering"
When you apply a filter say starting from may, the filter form excludes every other month after may (june and july) the next time your try filtering. This shouldn't be so. The first image below shows the current behaviour and the second shows the way it should function:
## Bug:
![incomplete month options in form field](https://user-images.githubusercontent.com/40905613/87348582-e5b12680-c54c-11ea-

[2020-07-14 18:13] #218 closed

[2020-07-14 18:58] srish commented on #176
@NdibeRaymond We can have two items for now in the footer: View source (linked to code repository on Github) and Discuss (linked to the talk page on meta-wiki).

[2020-07-14 19:02] NdibeRaymond commented on #176
Got it @srish

[2020-07-15 17:27] #197 closed

[2020-07-16 22:00] #214 closed

[2020-07-20 12:09] #176 closed

[2020-07-22 00:03] #21 closed

[2020-08-10 21:22] srish opened #226 "404 error on hitting search without modifying the user information"
Steps to reproduce:
* Enter a user's information and hit search
* From the query page click the edit button
* Now on the homepage, hit search again without modifying any information

It will result in a `404` error.

[2020-08-10 22:27] #201 closed

[2020-08-10 22:40] srish commented on #69
Thanks to @tuxology for iterating on the design of logo contributed by @subscriptshoe9. Here it is: https://commons.wikimedia.org/w/index.php?title=File:WikiContrib_Logo_2019-12-21.svg and we are now using it :-)

[2020-08-10 22:40] #69 closed

[2020-08-11 01:48] #226 closed

[2020-08-11 20:06] #147 closed

[2020-08-12 08:09] thiemowmde opened #232 "User name input fields don't have labels"
After clicking the edit button, this is what I get:

![Screenshot from 2020-08-12 09-41-42](https://user-images.githubusercontent.com/6576639/89991021-821d3480-dc83-11ea-9929-ffdfeec3c8b4.png)

Notice there is nothing that tells me what the four input fields mean. 😢

More in-depth explanation of the issue: https://www.nngroup.com/articles/form-design-placeholders/

[2020-08-12 08:53] thiemowmde opened #233 "Contributions are listed twice"
When I click any of the little green boxes in the "total contributions" chart, I get a list of these contributions, but everything shows up twice. Example:

![Screenshot from 2020-08-12 10-49-52](https://user-images.githubusercontent.com/6576639/89995558-e9d67e00-dc89-11ea-88a0-ec6bba9a16b1.png)

[2020-08-12 08:58] thiemowmde opened #234 "Confusing filter button behavior"
There are 2 buttons, a red magnifying glass and a blue arrow that looks like it is meant as a "reaload" feature:

![Screenshot from 2020-08-12 10-54-24](https://user-images.githubusercontent.com/6576639/89995757-38841800-dc8a-11ea-930d-cf835c5d6ce9.png)

First, it's impossible to tell what these buttons do, because they don't have any label or tooltip title.

When playing around with the buttons,

[2020-08-12 09:03] thiemowmde opened #235 "The 1 year time axis does not change with the filter"
By default, I get a graph like this:
![Screenshot from 2020-08-12 10-59-37](https://user-images.githubusercontent.com/6576639/89996354-fad3bf00-dc8a-11ea-88d1-19765df8b45a.png)

When I open the filters and change the time range to the "Last 60 days", for example, the graph changes like this:
![Screenshot from 2020-08-12 10-59-50](https://user-images.githubusercontent.com/6576639/89996351-f9a29200-

[2020-08-12 09:06] thiemowmde opened #236 "How the "From" filter option is labeled"
The filter says "From", but it looks like it behaves more like a "To". When I pick "June, 2020", the graph stops there and shows everything **before**. An alternative label might be "Until".

[2020-08-12 09:12] thiemowmde opened #237 "Contributions counted twice because of GitHub mirrors"
As far as I'm aware of most, if not all Gerrit code repositories are mirrored on GitHib. It looks like these mirrored contributions are all included in the graphs. Here is an example:

![Screenshot from 2020-08-12 11-09-05](https://user-images.githubusercontent.com/6576639/89997320-46d33380-dc8c-11ea-8f76-a047e302b05d.png)

That's the same contribution. The second one is the GitHub mirror.

I'm no

[2020-08-12 09:59] NdibeRaymond commented on #232
Thanks for this @thiemowmde . @srish and @rammanoj , what do you think about this?

[2020-08-12 10:02] NdibeRaymond commented on #234
Thanks for this awesome catch @thiemowmde , submitting a fix now

[2020-08-12 10:08] NdibeRaymond commented on #235
thanks for the observation @thiemowmde . Because this is a design decision, I would like to hear what @rammanoj has to say about this

[2020-08-12 10:09] NdibeRaymond commented on #237
looking into this @thiemowmde . Thanks for reporting

[2020-08-12 10:10] NdibeRaymond commented on #233
looking into this @thiemowmde. thanks for reporting

[2020-08-12 10:54] thiemowmde commented on #235
Hm. I experience this behavior as bogus. The graph is cut off, as if I have no contributions before. That's not correct.

To approach it from another perspective: What's the benefit of picking a range? The only positive effect is that it loads faster. But the graph doesn't become better. It doesn't zoom in. I can't see more details.

[2020-08-12 15:07] NdibeRaymond commented on #235
You are right @thiemowmde . I think it is still important to hear what others have to say

[2020-08-12 15:12] NdibeRaymond commented on #236
@rammanoj and @srish , what do you think about this?

[2020-08-13 17:39] rammanoj commented on #235
That's a intresting question @thiemowmde , thanks for asking. @NdibeRaymond I guess it is true. Can you check if we can alter the timeline even on the graphs based upon the filters that we providing ?

[2020-08-13 19:36] srish commented on #236
@thiemowmde that's a great point! thanks!

@NdibeRaymond How about we swap the combo boxes and also modify the labels accordingly? (see screenshot):

<img width="806" alt="Screen Shot 2020-08-13 at 12 35 05 PM" src="https://user-images.githubusercontent.com/288353/90178886-7acc5880-dd61-11ea-90ec-909060b1129c.png">

[2020-08-13 19:42] NdibeRaymond commented on #236
This is a perfect fit!

[2020-08-14 16:55] #234 closed

[2020-08-15 00:51] #236 closed

[2020-08-16 01:19] #237 closed

[2020-08-16 01:56] #232 closed

[2020-08-16 01:56] #233 closed

[2020-08-17 20:11] NdibeRaymond opened #243 "Rename "owned" to "authored""
**Problem**
in phabricator contributions, we used "owned" to represent phabricator tasks created by a user. The problem with this is that "own" means something else in phabricator diffusion. As a result, this leads to confusion and ambiguity especially for experienced contributions.

**Solution**
use "authored" instead of "owned"

[2020-08-25 23:35] #235 closed

[2020-08-25 23:35] #243 closed

[2022-07-07 12:57] aklapper opened #279 "WikiContrib violates user privacy by loading third party content from Cloudflare"
https://wikicontrib.toolforge.org/ loads `<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">`. This is a third-party privacy violation.

It's more concerning now that this tool is linked from the Wikimedia Developer Portal.

Please use https://tools-static.wmflabs.org/cdnjs/ajax/libs/semantic-ui/2.4.1/semantic.min.css instead and deploy.

See a

[2022-07-08 03:08] srish commented on #279
@NdibeRaymond You still have access to this tool on Toolforge right? I'd let you take on this.

[2022-07-08 12:22] aklapper commented on #279
https://toolsadmin.wikimedia.org/tools/id/wikicontrib lists four maintainers :)

[2022-07-08 13:55] NdibeRaymond commented on #279
yes I still do @srish. I will fix this issue

[2022-07-08 13:55] NdibeRaymond commented on #279
thanks for making this known @aklapper . I will fix this ASAP

[2022-10-25 01:46] wkyoshida opened #283 "Count contributions made by a user to GitLab"
Hey there! :wave:

This issue would be for a feature.

As more Wikimedia development moves to https://gitlab.wikimedia.org/, it could be nice to have the ability to aggregate contribution data for https://gitlab.wikimedia.org/ also in WikiContrib. For this there would of course be two parts - generally, the API integration with GitLab in the back-end and then the inclusion of GitLab in the front-e

[2022-10-25 01:49] wkyoshida commented on #279
Hi!

Out of curiosity - I was wondering if this issue has now been resolved with https://github.com/wikimedia/WikiContrib/pull/280 - would that be right?

[2022-10-25 12:33] aklapper commented on #279
That's a good question for @NdibeRaymond - if this is fixed, please close this ticket

[2022-10-26 03:12] wkyoshida commented on #283
Seems that the `GET /users/:id/events` endpoint could be used for the GitLab contribution data.

Docs: https://docs.gitlab.com/ee/api/events.html#get-user-contribution-events

The `action` and `target_type` parameters could also be used to filter only for contribution events that would be relevant.

[2022-11-01 03:31] NdibeRaymond commented on #283
hello @wkyoshida, thanks for submitting this PR! I will definitely start looking at merging this by weekend

[2022-11-01 03:32] NdibeRaymond commented on #279
Yeaaa forgot to close this, closing now

[2022-11-01 20:51] wkyoshida commented on #283
Hey @NdibeRaymond!

_Atm_ I only have the issue created for this unfortunately, but I am happy to help with some development for it though. I'm thinking there might be some details also that likely might have to be defined first perhaps?

In the [docs](https://github.com/wikimedia/WikiContrib/blob/master/docs/Internal%20Working.rst), I see that specific contribution types for each platform are con